In [4]:
import pandas as pd
import matplotlib.pyplot as plt
df14_111 = pd.read_excel('rawdata/2014-15 WT1 Phys 111 ALL Data - Shared with Chelsea (20210212).xlsx', nrows=256)
df14_112 = pd.read_excel('/Users/mayapatel/Desktop/honours/rawdata/2014-15 WT1 Phys 112 ALL Data - Shared with Chelsea (20210212).xlsx')
df15_111 = pd.read_excel('/Users/mayapatel/Desktop/honours/rawdata/2015-16 WT1 Phys 111 ALL Data - Shared with Chelsea.xlsx')
print(len(df14_111))
print(len(df14_112))
print(len(df15_111))
df14_111.head()

FileNotFoundError: [Errno 2] No such file or directory: '/Users/mayapatel/Desktop/honours/rawdata/2014-15 WT1 Phys 112 ALL Data - Shared with Chelsea (20210212).xlsx'

In [ ]:
df14_111.mean(axis=0)

In [5]:
df15_111.mean(axis=0)

NameError: name 'df15_111' is not defined

In [6]:
df14_111.count(axis=1)

0      117
1        6
2      117
3      117
4      117
      ...
251    117
252     68
253      6
254      6
255      0
Length: 256, dtype: int64

In [7]:
y14_q1 = pd.DataFrame(df14_111['PRE Q1'].value_counts(dropna=False))
y15_q1 = pd.DataFrame(df15_111['PRE Q1'].value_counts(dropna=False))
y14_q1_112 = pd.DataFrame(df14_112['PRE Q1'].value_counts(dropna=False))

dff1 = y14_q1.join(y15_q1, lsuffix='2014-15', rsuffix='2015-16')
dff1 = dff1.join(y14_q1_112, rsuffix='2014 112')
dff1

#correct answer = C

NameError: name 'df15_111' is not defined

In [8]:
y14_q1_post = pd.DataFrame(df14_111['POST Q1'].value_counts(dropna=False))
y15_q1_post = pd.DataFrame(df15_111['POST Q1'].value_counts(dropna=False))
y14_q1_112_post = pd.DataFrame(df14_112['POST Q1'].value_counts(dropna=False))

dff2 = y14_q1_post.join(y15_q1_post, lsuffix='2014-15', rsuffix='2015-16')
dff2 = dff2.join(y14_q1_112_post, rsuffix='2014 112')

display(dff1.join(dff2))

#correct answer = C

NameError: name 'df15_111' is not defined

In [9]:
y14_q2 = pd.DataFrame(df14_111['PRE Q2'].value_counts(dropna=False))
y15_q2 = pd.DataFrame(df15_111['PRE Q2'].value_counts(dropna=False))
y14_q2_112 = pd.DataFrame(df14_112['PRE Q2'].value_counts(dropna=False))

dff = y14_q2.join(y15_q2, lsuffix='2014-15', rsuffix='2015-16')
dff.join(y14_q2_112, rsuffix='2014 112')

#correct answer = A

NameError: name 'df15_111' is not defined

In [10]:
y14_q3 = pd.DataFrame(df14_111['PRE Q3'].value_counts(dropna=False))
y15_q3 = pd.DataFrame(df15_111['PRE Q3'].value_counts(dropna=False))
y14_q3_112 = pd.DataFrame(df14_112['PRE Q3'].value_counts(dropna=False))

dff = y14_q3.join(y15_q3, lsuffix='2014-15', rsuffix='2015-16')
dff.join(y14_q3_112, rsuffix='2014 112')

#correct answer = C

NameError: name 'df15_111' is not defined

In [11]:
y14_q4 = pd.DataFrame(df14_111['PRE Q4'].value_counts(dropna=False))
y15_q4 = pd.DataFrame(df15_111['PRE Q4'].value_counts(dropna=False))
y14_q4_112 = pd.DataFrame(df14_112['PRE Q4'].value_counts(dropna=False))

dff = y14_q4.join(y15_q3, lsuffix='2014-15', rsuffix='2015-16')
dff.join(y14_q3_112, rsuffix='2014 112')

#correct answer = E

NameError: name 'df15_111' is not defined

In [12]:
q_ans = df14_111.count(axis=1)
q = []
i=0
while q_ans[i]<50:
    q.append(q_ans[i])
    i+=1

q

[]

In [13]:

stu1_df14_111_pre = [] 
for i in range(1,31):
    string = "PRE Q"+ str(i)
    stu1_df14_111_pre += df14_111[string].iloc[0]
print(stu1_df14_111_pre)

['C', 'D', 'D', 'A', 'D', 'B', 'B', 'B', 'B', 'E', 'C', 'B', 'C', 'B', 'C', 'C', 'A', 'E', 'E', 'A', 'C', 'B', 'C', 'A', 'E', 'A', 'A', 'E', 'B', 'B']

In [14]:
corr_ans = ['C', 'A' , 'C', 'E', 'B', 'B', 'B', 'B' , 'E', 'A', 'D', 'B', 'D', 'D', 'A', 'A', 'B', 'B', 'E', 'D', 
            'E', 'B', 'B', 'A', 'C', 'E', 'C', 'E', 'B', 'C']

In [15]:
for i in range(len(stu1_df14_111_pre)):
    if corr_ans[i]==stu1_df14_111_pre[i]:
        stu1_df14_111_pre_score += 1  
stu1_df14_111_pre_score

NameError: name 'stu1_df14_111_pre_score' is not defined

In [16]:
sample_arg = df14_111.iloc[56]
def calculate_score(student):
    student_pre = [] 
    score = 0
    for i in range(1,31):
        string = "PRE Q"+ str(i)
        if string in student:
            if student[string]==corr_ans[i-1]:
                score+=1
            
    return (score*100/30)

In [17]:
calculate_score(sample_arg)

0.0

In [21]:
df14_111.apply(calculate_score, axis=1)

0      33.333333
1       0.000000
2      43.333333
3      60.000000
4      66.666667
         ...
251    40.000000
252     0.000000
253     0.000000
254     0.000000
255     0.000000
Length: 256, dtype: float64

In [19]:
df14_111.describe()

       Course     Lecture  Percent Grade
count   255.0  255.000000     255.000000
mean    111.0    1.384314      69.474510
std       0.0    0.487389      17.289064
min     111.0    1.000000       3.000000
25%     111.0    1.000000      61.000000
50%     111.0    1.000000      71.000000
75%     111.0    2.000000      81.000000
max     111.0    2.000000     100.000000