In [4]:
import pandas as pd
import numpy as np
from FCI_functions import calculate_post_score, calculate_pre_score, calculate_question_score_post, calculate_question_score_pre, calculate_pre_score_2020, calculate_post_score_2020, calculate_question_score_pre_2020 , calculate_question_score_post_2020

In [5]:
df16_111 = pd.read_excel('rawdata/2016-17 WT1 Phys 111 ALL Data - Shared with Chelsea.xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df16_112 = pd.read_excel('rawdata/2016-17 WT1 Phys 112 ALL Data - Shared with Chelsea.xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df14_111 = pd.read_excel('rawdata/2014-15 WT1 Phys 111 ALL Data - Shared with Chelsea (20210212).xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df14_112 = pd.read_excel('rawdata/2014-15 WT1 Phys 112 ALL Data - Shared with Chelsea (20210212).xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df15_111 = pd.read_excel('rawdata/2015-16 WT1 Phys 111 ALL Data - Shared with Chelsea.xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df15_112 = pd.read_excel('rawdata/2015-16 WT1 Phys 112 ALL Data - Shared with Chelsea.xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df17_111 = pd.read_excel('rawdata/2017-18 WT1 Phys 111 ALL Data - Shared with David (20190612).xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df17_112 = pd.read_excel('rawdata/2017-18 WT1 Phys 112 ALL Data - Shared with David (20190612).xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df18_111 = pd.read_excel('rawdata/2018-19 WT1 Phys 111 ALL Data - Shared with David (20190530).xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df18_112 = pd.read_excel('rawdata/2018-19 WT1 Phys 112 ALL Data - Shared with David (20190527).xlsx').replace(["BLANK", "!!", "MULT"], np.nan)#.drop(df18_112[df18_112['Secondary'] == L15].index)
df19_111 = pd.read_excel('rawdata/2019-20 WT1 Phys 111 ALL Data - Shared with Maya (20211222).xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df19_112 = pd.read_excel('rawdata/2019-20 WT1 Phys 112 ALL Data - Shared with Maya (20211222).xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df20 = pd.read_excel('rawdata/2020-21 WT1 Phys 111&112 ALL Data - Shared with Chelsea (20210329).xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
is_111 = df20['Course'] == 111
df20_111 = df20[is_111]
is_112 = df20['Course'] == 112
df20_112 = df20[is_112]

In [6]:
column_names=[]
for i in range(1, 31):
    column_names.append("PRE Q" + str(i))
df1 = pd.DataFrame(columns=column_names)

df1.loc["2014 111"] = calculate_question_score_pre(df14_111)
df1.loc["2014 112"] = calculate_question_score_pre(df14_112)
df1.loc["2015 111"] = calculate_question_score_pre(df15_111)
df1.loc["2015 112"] = calculate_question_score_pre(df15_112)
df1.loc["2016 111"] = calculate_question_score_pre(df16_111)
df1.loc["2016 112"] = calculate_question_score_pre(df16_112)
df1.loc["2017 111"] = calculate_question_score_pre(df17_111)
df1.loc["2017 112"] = calculate_question_score_pre(df17_112)
df1.loc["2018 111"] = calculate_question_score_pre(df18_111)
df1.loc["2018 112"] = calculate_question_score_pre(df18_112)
df1.loc["2019 111"] = calculate_question_score_pre(df19_111)
df1.loc["2019 112"] = calculate_question_score_pre(df19_112)
df1.loc["2020 111"] = calculate_question_score_pre_2020(df20_111)
df1.loc["2020 112"] = calculate_question_score_pre_2020(df20_112)
df1.loc["mean"] = df1.mean()

df1.to_excel("Pre_test_by_question.xlsx")

In [7]:
column_names=[]
for i in range(1, 31):
    column_names.append("POST Q" + str(i))
df2 = pd.DataFrame(columns=column_names)

df2.loc["2014 111"] = calculate_question_score_post(df14_111)
df2.loc["2014 112"] = calculate_question_score_post(df14_112)
df2.loc["2015 111"] = calculate_question_score_post(df15_111)
df2.loc["2015 112"] = calculate_question_score_post(df15_112)
df2.loc["2016 111"] = calculate_question_score_post(df16_111)
df2.loc["2016 112"] = calculate_question_score_post(df16_112)
df2.loc["2017 111"] = calculate_question_score_post(df17_111)
df2.loc["2017 112"] = calculate_question_score_post(df17_112)
df2.loc["2018 111"] = calculate_question_score_post(df18_111)
df2.loc["2018 112"] = calculate_question_score_post(df18_112)
df1.loc["2019 111"] = calculate_question_score_post(df19_111)
df1.loc["2019 112"] = calculate_question_score_post(df19_112)
df1.loc["2020 111"] = calculate_question_score_post_2020(df20_111)
df1.loc["2020 112"] = calculate_question_score_post_2020(df20_112)
df2.loc["mean"] = df2.mean()

df2.to_excel("Post_test_by_question.xlsx")

In [8]:
for i in range(1,31):
    string = "PRE Q"+ str(i)

    y14_q1 = pd.DataFrame(df14_111[string].value_counts(dropna=False))
    y15_q1 = pd.DataFrame(df15_111[string].value_counts(dropna=False))
    y16_q1 = pd.DataFrame(df16_111[string].value_counts(dropna=False))
    y17_q1 = pd.DataFrame(df17_111[string].value_counts(dropna=False))
    y18_q1 = pd.DataFrame(df18_111[string].value_counts(dropna=False))

    dff1 = y14_q1.join(y15_q1, lsuffix=' 2014 111', rsuffix=' 2015 111')
    dff1 = dff1.join(y16_q1, lsuffix=' 2015 111', rsuffix=' 2016 111')
    dff1 = dff1.join(y17_q1, lsuffix=' 2016 111', rsuffix=' 2017 111')
    dff1 = dff1.join(y18_q1, lsuffix=' 2017 111', rsuffix=' 2018 111')

    y14_q1 = pd.DataFrame(df14_112[string].value_counts(dropna=False))
    y15_q1 = pd.DataFrame(df15_112[string].value_counts(dropna=False))
    y16_q1 = pd.DataFrame(df16_112[string].value_counts(dropna=False))
    y17_q1 = pd.DataFrame(df17_112[string].value_counts(dropna=False))
    y18_q1 = pd.DataFrame(df18_112[string].value_counts(dropna=False))

    dff2 = y14_q1.join(y15_q1, lsuffix=' 2014 112', rsuffix=' 2015 112')
    dff2 = dff2.join(y16_q1, lsuffix=' 2015 112', rsuffix=' 2016 112')
    dff2 = dff2.join(y17_q1, lsuffix=' 2016 112', rsuffix=' 2017 112')
    dff2 = dff2.join(y18_q1, lsuffix=' 2017 112', rsuffix=' 2018 112')

    dff3 = dff2.join(dff1, lsuffix='111', rsuffix='112')

    print(string)
    with pd.ExcelWriter('answers_by_question.xlsx', engine='openpyxl',mode='a') as writer:  
        dff3.to_excel(writer, sheet_name=string)

PRE Q1

ValueError: Sheet 'PRE Q1' already exists and if_sheet_exists is set to 'error'.

In [ ]:
pd.DataFrame(df15_111['PRE Q5'].value_counts(dropna=False)).join(pd.DataFrame(df16_111['PRE Q5'].value_counts(dropna=False)), lsuffix=' 2014 111', rsuffix=' 2015 111')

In [ ]:
for i in range(1,31):
    string = "POST Q"+ str(i)

    y14_q1 = pd.DataFrame(df14_111[string].value_counts(dropna=False))
    y15_q1 = pd.DataFrame(df15_111[string].value_counts(dropna=False))
    y16_q1 = pd.DataFrame(df16_111[string].value_counts(dropna=False))
    y17_q1 = pd.DataFrame(df17_111[string].value_counts(dropna=False))
    y18_q1 = pd.DataFrame(df18_111[string].value_counts(dropna=False))

    dff1 = y14_q1.join(y15_q1, lsuffix=' 2014 111', rsuffix=' 2015 111')
    dff1 = dff1.join(y16_q1, lsuffix=' 2015 111', rsuffix=' 2016 111')
    dff1 = dff1.join(y17_q1, lsuffix=' 2016 111', rsuffix=' 2017 111')
    dff1 = dff1.join(y18_q1, lsuffix=' 2017 111', rsuffix=' 2018 111')

    y14_q1 = pd.DataFrame(df14_112[string].value_counts(dropna=False))
    y15_q1 = pd.DataFrame(df15_112[string].value_counts(dropna=False))
    y16_q1 = pd.DataFrame(df16_112[string].value_counts(dropna=False))
    y17_q1 = pd.DataFrame(df17_112[string].value_counts(dropna=False))
    y18_q1 = pd.DataFrame(df18_112[string].value_counts(dropna=False))

    dff2 = y14_q1.join(y15_q1, lsuffix=' 2014 112', rsuffix=' 2015 112')
    dff2 = dff2.join(y16_q1, lsuffix=' 2015 112', rsuffix=' 2016 112')
    dff2 = dff2.join(y17_q1, lsuffix=' 2016 112', rsuffix=' 2017 112')
    dff2 = dff2.join(y18_q1, lsuffix=' 2017 112', rsuffix=' 2018 112')

    dff3 = dff2.join(dff1, lsuffix='111', rsuffix='112')

    print(string)
    with pd.ExcelWriter('answers_by_question_post.xlsx', engine='openpyxl',mode='a') as writer:  
        dff3.to_excel(writer, sheet_name=string)

In [ ]:
for i in range(1,31):
    string = "PRE Q"+ str(i)
    
    y14_q1 = pd.DataFrame(df14_111[df14_111['PRE Q85']== 'A'][string].value_counts(dropna=False))
    y15_q1 = pd.DataFrame(df15_111[df15_111['PRE Q85']== 'A'][string].value_counts(dropna=False))
    y16_q1 = pd.DataFrame(df16_111[df16_111['PRE Q85']== 'A'][string].value_counts(dropna=False))
    y17_q1 = pd.DataFrame(df17_111[df17_111['PRE Q85']== 'A'][string].value_counts(dropna=False))
    y18_q1 = pd.DataFrame(df18_111[df18_111['PRE Q85']== 'A'][string].value_counts(dropna=False))

    dff1 = y14_q1.join(y15_q1, lsuffix=' 2014 111', rsuffix=' 2015 111')
    dff1 = dff1.join(y16_q1, lsuffix=' 2015 111', rsuffix=' 2016 111')
    dff1 = dff1.join(y17_q1, lsuffix=' 2016 111', rsuffix=' 2017 111')
    dff1 = dff1.join(y18_q1, lsuffix=' 2017 111', rsuffix=' 2018 111')

    y14_q1 = pd.DataFrame(df14_112[df14_112['PRE Q85']== 'A'][string].value_counts(dropna=False))
    y15_q1 = pd.DataFrame(df15_112[df15_112['PRE Q85']== 'A'][string].value_counts(dropna=False))
    y16_q1 = pd.DataFrame(df16_112[df16_112['PRE Q85']== 'A'][string].value_counts(dropna=False))
    y17_q1 = pd.DataFrame(df17_112[df17_112['PRE Q85']== 'A'][string].value_counts(dropna=False))
    y18_q1 = pd.DataFrame(df18_112[df18_112['PRE Q85']== 'A'][string].value_counts(dropna=False))

    dff2 = y14_q1.join(y15_q1, lsuffix=' 2014 112', rsuffix=' 2015 112')
    dff2 = dff2.join(y16_q1, lsuffix=' 2015 112', rsuffix=' 2016 112')
    dff2 = dff2.join(y17_q1, lsuffix=' 2016 112', rsuffix=' 2017 112')
    dff2 = dff2.join(y18_q1, lsuffix=' 2017 112', rsuffix=' 2018 112')

    dff3 = dff2.join(dff1, lsuffix='111', rsuffix='112')

    print(string)
    #with pd.ExcelWriter('answers_by_question_female_pre.xlsx', engine='openpyxl',mode='a') as writer:  
    #    dff3.to_excel(writer, sheet_name=string)

In [ ]:
for i in range(1,31):
    string = "PRE Q"+ str(i)
    
    y14_q1 = pd.DataFrame(df14_111[df14_111['PRE Q85']== 'B'][string].value_counts(dropna=False))
    y15_q1 = pd.DataFrame(df15_111[df15_111['PRE Q85']== 'B'][string].value_counts(dropna=False))
    y16_q1 = pd.DataFrame(df16_111[df16_111['PRE Q85']== 'B'][string].value_counts(dropna=False))
    y17_q1 = pd.DataFrame(df17_111[df17_111['PRE Q85']== 'B'][string].value_counts(dropna=False))
    y18_q1 = pd.DataFrame(df18_111[df18_111['PRE Q85']== 'B'][string].value_counts(dropna=False))

    dff1 = y14_q1.join(y15_q1, lsuffix=' 2014 111', rsuffix=' 2015 111')
    dff1 = dff1.join(y16_q1, lsuffix=' 2015 111', rsuffix=' 2016 111')
    dff1 = dff1.join(y17_q1, lsuffix=' 2016 111', rsuffix=' 2017 111')
    dff1 = dff1.join(y18_q1, lsuffix=' 2017 111', rsuffix=' 2018 111')

    y14_q1 = pd.DataFrame(df14_112[df14_112['PRE Q85']== 'B'][string].value_counts(dropna=False))
    y15_q1 = pd.DataFrame(df15_112[df15_112['PRE Q85']== 'B'][string].value_counts(dropna=False))
    y16_q1 = pd.DataFrame(df16_112[df16_112['PRE Q85']== 'B'][string].value_counts(dropna=False))
    y17_q1 = pd.DataFrame(df17_112[df17_112['PRE Q85']== 'B'][string].value_counts(dropna=False))
    y18_q1 = pd.DataFrame(df18_112[df18_112['PRE Q85']== 'B'][string].value_counts(dropna=False))

    dff2 = y14_q1.join(y15_q1, lsuffix=' 2014 112', rsuffix=' 2015 112')
    dff2 = dff2.join(y16_q1, lsuffix=' 2015 112', rsuffix=' 2016 112')
    dff2 = dff2.join(y17_q1, lsuffix=' 2016 112', rsuffix=' 2017 112')
    dff2 = dff2.join(y18_q1, lsuffix=' 2017 112', rsuffix=' 2018 112')

    dff3 = dff2.join(dff1, lsuffix='111', rsuffix='112')

    print(string)
    #with pd.ExcelWriter('answers_by_question_male_pre.xlsx', engine='openpyxl',mode='a') as writer:  
    #    dff3.to_excel(writer, sheet_name=string)

In [9]:
dff4 = pd.DataFrame(columns=['Question', 'Female Score', 'Female Score Error'])
for i in range(1,31):
    string = "POST Q"+ str(i)
    
    corr_ans = ['C', 'A' , 'C', 'E', 'B', 'B', 'B', 'B' , 'E', 'A', 'D', 'B', 'D', 'D', 'A', 'A', 'B', 'B', 'E', 'D', 
            'E', 'B', 'B', 'A', 'C', 'E', 'C', 'E', 'B', 'C']
    
    y14_q1 = pd.DataFrame(df14_111[df14_111['POST Q85']== 'A'][string].value_counts(dropna=False))
    y15_q1 = pd.DataFrame(df15_111[df15_111['POST Q85']== 'A'][string].value_counts(dropna=False))
    y16_q1 = pd.DataFrame(df16_111[df16_111['POST Q85']== 'A'][string].value_counts(dropna=False))
    y17_q1 = pd.DataFrame(df17_111[df17_111['POST Q85']== 'A'][string].value_counts(dropna=False))
    y18_q1 = pd.DataFrame(df18_111[df18_111['POST Q85']== 'A'][string].value_counts(dropna=False))

    dff1 = y14_q1.join(y15_q1, lsuffix=' 2014 111', rsuffix=' 2015 111')
    dff1 = dff1.join(y16_q1, lsuffix=' 2015 111', rsuffix=' 2016 111')
    dff1 = dff1.join(y17_q1, lsuffix=' 2016 111', rsuffix=' 2017 111')
    dff1 = dff1.join(y18_q1, lsuffix=' 2017 111', rsuffix=' 2018 111')

    y14_q1 = pd.DataFrame(df14_112[df14_112['POST Q85']== 'A'][string].value_counts(dropna=False))
    y15_q1 = pd.DataFrame(df15_112[df15_112['POST Q85']== 'A'][string].value_counts(dropna=False))
    y16_q1 = pd.DataFrame(df16_112[df16_112['POST Q85']== 'A'][string].value_counts(dropna=False))
    y17_q1 = pd.DataFrame(df17_112[df17_112['POST Q85']== 'A'][string].value_counts(dropna=False))
    y18_q1 = pd.DataFrame(df18_112[df18_112['POST Q85']== 'A'][string].value_counts(dropna=False))

    dff2 = y14_q1.join(y15_q1, lsuffix=' 2014 112', rsuffix=' 2015 112')
    dff2 = dff2.join(y16_q1, lsuffix=' 2015 112', rsuffix=' 2016 112')
    dff2 = dff2.join(y17_q1, lsuffix=' 2016 112', rsuffix=' 2017 112')
    dff2 = dff2.join(y18_q1, lsuffix=' 2017 112', rsuffix=' 2018 112')

    dff3 = dff2.join(dff1, lsuffix='111', rsuffix='112')

    #print(string)
    #with pd.ExcelWriter('answers_by_question_female_post.xlsx', engine='openpyxl',mode='a') as writer:  
    #    dff3.to_excel(writer, sheet_name=string)
        
    corr = dff3.loc[corr_ans[3-1]].sum()
    total = dff3.sum().sum()

    corr_err = dff3.loc[corr_ans[3-1]].std()/corr
    total_err = dff3.sum().values.std()/total
    actual_err = np.sqrt(corr_err**2 + total_err**2)

    array = [string, corr/total, actual_err]

    dff4.loc[i] = [string, corr/total, actual_err]

In [10]:
dff4

    Question  Female Score  Female Score Error
1    POST Q1      0.577830            0.078754
2    POST Q2      0.053066            0.087124
3    POST Q3      0.390273            0.070967
4    POST Q4      0.010949            0.108645
5    POST Q5      0.124533            0.085411
6    POST Q6      0.029797            0.085627
7    POST Q7      0.040244            0.086369
8    POST Q8      0.013018            0.093650
9    POST Q9      0.271868            0.086827
10  POST Q10      0.095238            0.086248
11  POST Q11      0.466272            0.088107
12  POST Q12      0.234170            0.093443
13  POST Q13      0.420927            0.086361
14  POST Q14      0.082840            0.084014
15  POST Q15      0.448485            0.071181
16  POST Q16      0.167665            0.073943
17  POST Q17      0.028302            0.111156
18  POST Q18      0.043478            0.103503
19  POST Q19      0.031288            0.138245
20  POST Q20      0.257414            0.077607
21  POST Q21      0.262102            0.083900
22  POST Q22      0.054827            0.085713
23  POST Q23      0.202367            0.091645
24  POST Q24      0.218787            0.084280
25  POST Q25      0.288256            0.080346
26  POST Q26      0.071090            0.085292
27  POST Q27      0.498216            0.071999
28  POST Q28      0.069212            0.091502
29  POST Q29      0.021531            0.108114
30  POST Q30      0.275414            0.069245