In [10]:
import pandas as pd
import numpy as np
from FCI_functions import calculate_post_score, calculate_pre_score, calculate_question_score_post, calculate_question_score_pre, calculate_pre_score_2020, calculate_post_score_2020

In [19]:
df16_111 = pd.read_excel('rawdata/2016-17 WT1 Phys 111 ALL Data - Shared with Chelsea.xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df16_112 = pd.read_excel('rawdata/2016-17 WT1 Phys 112 ALL Data - Shared with Chelsea.xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df14_111 = pd.read_excel('rawdata/2014-15 WT1 Phys 111 ALL Data - Shared with Chelsea (20210212).xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df14_112 = pd.read_excel('rawdata/2014-15 WT1 Phys 112 ALL Data - Shared with Chelsea (20210212).xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df15_111 = pd.read_excel('rawdata/2015-16 WT1 Phys 111 ALL Data - Shared with Chelsea.xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df15_112 = pd.read_excel('rawdata/2015-16 WT1 Phys 112 ALL Data - Shared with Chelsea.xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df17_111 = pd.read_excel('rawdata/2017-18 WT1 Phys 111 ALL Data - Shared with David (20190612).xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df17_112 = pd.read_excel('rawdata/2017-18 WT1 Phys 112 ALL Data - Shared with David (20190612).xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df18_111 = pd.read_excel('rawdata/2018-19 WT1 Phys 111 ALL Data - Shared with David (20190530).xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df18_112 = pd.read_excel('rawdata/2018-19 WT1 Phys 112 ALL Data - Shared with David (20190527).xlsx').replace(["BLANK", "!!", "MULT"], np.nan)#.drop(df18_112[df18_112.secondary == L15].index)
df20 = pd.read_excel('rawdata/2020-21 WT1 Phys 111&112 ALL Data - Shared with Chelsea (20210329).xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
is_111 = df20['Course'] == 111
df20_111 = df20[is_111]
is_112 = df20['Course'] == 112
df20_112 = df20[is_112]

In [11]:
def by_gender_by_year_2020(df, name):
    pre = []
    for i in range (1,31):
        string = "PRE Q" + str(i)
        pre.append(string)
    post = []
    for i in range (1,31):
        string = "POST Q" + str(i)
        post.append(string)

    pre_2020 = ['PRE Q1'] 
    for i in range (24, 53):
        string = 'PRE Q' + str(i)
        pre_2020.append(string)

    post_2020 = ['POST Q1'] 
    for i in range (24, 53):
        string = 'POST Q' + str(i)
        post_2020.append(string)

    df_pre = df[pre_2020]

    df_pre.columns = pre

    is_f = df['PRE Q12']== 1
    df_f = df[is_f]
    df_pre_f = df_f[pre_2020].dropna(thresh=25, axis=0)
    df_pre_f.columns = pre
    df_post_f = df_f[post].dropna(thresh=25, axis=0)

    pre_f = df_pre_f.apply(calculate_pre_score_2020, axis=1).mean()
    pre_f_error = df_pre_f.apply(calculate_pre_score_2020, axis=1).sem(axis=0)
    post_f =df_post_f.apply(calculate_post_score_2020, axis=1).mean()
    post_f_error = df_post_f.apply(calculate_post_score_2020, axis=1).sem(axis=0)
    gain_f_error = np.sqrt(pre_f_error**2 + post_f_error**2)

    is_m = df['PRE Q12']== 3
    df_m = df[is_m]
    df_pre_m = df_m[pre_2020].dropna(thresh=25, axis=0)
    df_pre_m.columns = pre
    df_post_m = df_m[post].dropna(thresh=25, axis=0)

    pre_m = df_pre_m.apply(calculate_pre_score_2020, axis=1).mean()
    pre_m_error = df_pre_m.apply(calculate_pre_score_2020, axis=1).sem(axis=0)
    post_m =df_post_m.apply(calculate_post_score_2020, axis=1).mean()
    post_m_error = df_post_m.apply(calculate_post_score_2020, axis=1).sem(axis=0)
    gain_m_error = np.sqrt(pre_m_error**2 + post_m_error**2)

    array = [name, pre_f, pre_f_error, post_f, post_f_error, post_f-pre_f, gain_f_error, pre_m, pre_m_error, post_m, post_m_error, post_m-pre_m, gain_m_error]
    return array

In [20]:
def by_gender_by_year(df, name):
    pre = []
    for i in range (1,31):
        string = "PRE Q" + str(i)
        pre.append(string)
    post = []
    for i in range (1,31):
        string = "POST Q" + str(i)
        post.append(string)

    is_f = df['PRE Q85']== 'A'
    df_f = df[is_f]
    df_pre_f = df_f[pre]
    df_pre_f_drop = df_pre_f.dropna(thresh=1, axis=0)
    df_post_f = df_f[post].dropna(thresh=1, axis=0)
    
    pre_f = df_pre_f.apply(calculate_pre_score, axis=1).mean()
    pre_f_error = df_pre_f.apply(calculate_pre_score, axis=1).sem(axis=0)
    post_f =df_post_f.apply(calculate_post_score, axis=1).mean()
    post_f_error = df_post_f.apply(calculate_post_score, axis=1).sem(axis=0)
    gain_f_error = np.sqrt(pre_f_error**2 + post_f_error**2)
    
    is_m = df['PRE Q85']== 'B'
    df_m = df[is_m]
    df_pre_m = df_m[pre].dropna(thresh=1, axis=0)
    df_post_m = df_m[post].dropna(thresh=1, axis=0)
    
    pre_m = df_pre_m.apply(calculate_pre_score, axis=1).mean()
    pre_m_error = df_pre_m.apply(calculate_pre_score, axis=1).sem(axis=0)
    post_m =df_post_m.apply(calculate_post_score, axis=1).mean()
    post_m_error = df_post_m.apply(calculate_post_score, axis=1).sem(axis=0)
    gain_m_error = np.sqrt(pre_m_error**2 + post_m_error**2)
    
    array = [name, pre_f, pre_f_error, post_f, post_f_error, post_f-pre_f, gain_f_error, pre_m, pre_m_error, post_m, post_m_error, post_m-pre_m, gain_m_error]
    return array

In [21]:
# create table of average scores by gender by year
column_names=["YEAR", "Pre Score F", "Pre Score F Error", "Post Score F","Post Score F Error", "Gain F", "Gain Error", "Pre Score M", "Pre Score M Error", "Post Score M", "Post Score M Error", "Gain M", "Gain M Error"]
df4 = pd.DataFrame(columns=column_names)

df4.loc[1] = by_gender_by_year(df14_111, "2014 111")
df4.loc[2] = by_gender_by_year(df14_112, "2014 112")
df4.loc[3] = by_gender_by_year(df15_111, "2015 111")
df4.loc[4] = by_gender_by_year(df15_112, "2015 112")
df4.loc[5] = by_gender_by_year(df16_111, "2016 111")
df4.loc[6] = by_gender_by_year(df16_112, "2016 112")
df4.loc[7] = by_gender_by_year(df17_111, "2017 111")
df4.loc[8] = by_gender_by_year(df17_112, "2017 112")
df4.loc[9] = by_gender_by_year(df18_111, "2018 111")
df4.loc[10] = by_gender_by_year(df18_112, "2018 112")
#df4.loc[11] = by_gender_by_year_2020(df20_111, "2020 111")
#df4.loc[12] = by_gender_by_year_2020(df20_112, "2020 112")
df4

,YEAR,Pre Score F,Pre Score F Error,Post Score F,Post Score F Error,Gain F,Gain Error,Pre Score M,Pre Score M Error,Post Score M,Post Score M Error,Gain M,Gain M Error
1,2014 111,12.294118,0.774746,16.266667,0.961585,3.972549,1.234859,19.042254,0.714449,20.467742,0.799166,1.425488,1.071962
2,2014 112,8.441441,0.338781,11.180000,0.468477,2.738559,0.578138,12.855263,0.513572,14.838710,0.735226,1.983447,0.896835
3,2015 111,12.174419,0.548893,14.187500,0.597488,2.013081,0.811342,17.000000,0.622577,19.600000,0.767277,2.600000,0.988087
4,2015 112,8.476562,0.342051,12.090164,0.447335,3.613601,0.563123,12.923077,0.578877,16.363636,0.705476,3.440559,0.912576
5,2016 111,12.559140,0.532590,14.988764,0.599092,2.429624,0.801600,18.109375,0.514580,19.120690,0.656207,1.011315,0.833907
6,2016 112,8.394118,0.330627,13.141104,0.423311,4.746987,0.537128,13.663043,0.593055,17.457831,0.751197,3.794788,0.957085
7,2017 111,13.545455,0.839199,15.019231,0.883266,1.473776,1.218365,18.025000,0.621675,19.945946,0.671258,1.920946,0.914914
8,2017 112,9.282209,0.349257,14.696774,0.455325,5.414566,0.573848,14.701149,0.621093,20.400000,0.600264,5.698851,0.863755
9,2018 111,11.956522,0.790619,12.818182,0.952505,0.861660,1.237879,17.053097,0.632411,17.145833,0.686968,0.092736,0.933739
10,2018 112,9.771277,0.337360,14.047337,0.437388,4.276061,0.552377,14.282828,0.549740,18.701149,0.658081,4.418321,0.857487

In [16]:
df4.to_excel("2014-2018_by_gender_by_year.xlsx")