In [5]:
import pandas as pd
import numpy as np
from FCI_functions.FCI_functions import calculate_pre_score, calculate_post_score, calculate_question_score_post, calculate_question_score_pre

In [6]:
# import raw data from excel files
df16_111 = pd.read_excel('rawdata/2016-17 WT1 Phys 111 ALL Data - Shared with Chelsea.xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df16_112 = pd.read_excel('rawdata/2016-17 WT1 Phys 112 ALL Data - Shared with Chelsea.xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df14_111 = pd.read_excel('rawdata/2014-15 WT1 Phys 111 ALL Data - Shared with Chelsea (20210212).xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df14_112 = pd.read_excel('rawdata/2014-15 WT1 Phys 112 ALL Data - Shared with Chelsea (20210212).xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df15_111 = pd.read_excel('rawdata/2015-16 WT1 Phys 111 ALL Data - Shared with Chelsea.xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df15_112 = pd.read_excel('rawdata/2015-16 WT1 Phys 112 ALL Data - Shared with Chelsea.xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df17_111 = pd.read_excel('rawdata/2017-18 WT1 Phys 111 ALL Data - Shared with David (20190612).xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df17_112 = pd.read_excel('rawdata/2017-18 WT1 Phys 112 ALL Data - Shared with David (20190612).xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df18_111 = pd.read_excel('rawdata/2018-19 WT1 Phys 111 ALL Data - Shared with David (20190530).xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df18_112 = pd.read_excel('rawdata/2018-19 WT1 Phys 112 ALL Data - Shared with David (20190527).xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df16_111.head()

,Session,Course,Lecture,Secondary,Percent Grade,Letter Grade,PRE Q1,PRE Q2,PRE Q3,PRE Q4,...,POST Q87,POST Q88,POST Q89,POST Q90,POST Q91,POST Q92,POST Q93,POST Q94,POST Q95,POST Q96
0,2016W,111,1,L03,71,B-,C,A,B,A,...,B,B,D,B,E,C,A,NaN,NaN,NaN
1,2016W,111,1,L12,78,B+,C,D,B,E,...,C,B,C,B,B,C,A,A,B,NaN
2,2016W,111,1,L04,88,A,C,D,C,A,...,E,E,A,E,E,C,A,C,B,NaN
3,2016W,111,1,L02,66,C+,NaN,NaN,NaN,NaN,...,D,D,C,B,A,A,C,D,E,NaN
4,2016W,111,1,L02,74,B,D,B,A,A,...,D,E,C,B,E,B,A,C,C,NaN

In [7]:
# output gain from all years
display(df14_111.apply(calculate_post_score, axis=1).mean()-df14_111.apply(calculate_pre_score, axis=1).mean())
display(df14_112.apply(calculate_post_score, axis=1).mean()-df14_112.apply(calculate_pre_score, axis=1).mean())
display(df16_111.apply(calculate_post_score, axis=1).mean()-df16_111.apply(calculate_pre_score, axis=1).mean())
display(df16_112.apply(calculate_post_score, axis=1).mean()-df16_112.apply(calculate_pre_score, axis=1).mean())
display(df15_111.apply(calculate_post_score, axis=1).mean()-df15_111.apply(calculate_pre_score, axis=1).mean())
display(df15_112.apply(calculate_post_score, axis=1).mean()-df15_112.apply(calculate_pre_score, axis=1).mean())
display(df17_111.apply(calculate_post_score, axis=1).mean()-df17_111.apply(calculate_pre_score, axis=1).mean())
display(df17_112.apply(calculate_post_score, axis=1).mean()-df17_112.apply(calculate_pre_score, axis=1).mean())
display(df18_111.apply(calculate_post_score, axis=1).mean()-df18_111.apply(calculate_pre_score, axis=1).mean())
display(df18_112.apply(calculate_post_score, axis=1).mean()-df18_112.apply(calculate_pre_score, axis=1).mean())

1.2980392156862752

1.4370078740157481

0.8472727272727258

3.3161512027491415

0.45581395348837184

3.4157706093189972

0.9867549668874176

3.874035989717224

-0.7604166666666661

2.601246105919003

In [8]:
# calculate gain of 2016 001 lecture section
is_001 = df16_112['Lecture']== 1
post = df16_112[is_001].apply(calculate_post_score, axis=1).mean()
pre = df16_112[is_001].apply(calculate_pre_score, axis=1).mean()
display(post)
display(pre)
display(post-pre)

13.544303797468354

9.873417721518987

3.670886075949367

In [9]:
# calculate pre scores of 2016 112 by gender
is_f = df16_112['PRE Q85']== 'A'
pre_f = df16_112[is_f].apply(calculate_pre_score, axis=1).mean()
is_m = df16_112['PRE Q85']== 'B'
pre_m = df16_112[is_m].apply(calculate_pre_score, axis=1).mean()
display(pre_f)
display(pre_m)

8.394117647058824

13.66304347826087

In [10]:
column_names=[]
for i in range(1, 31):
    column_names.append("PRE Q" + str(i))
df2 = pd.DataFrame(columns=column_names)

# calculate pre scores of 2016 112 by gender by question
is_f = df16_112['PRE Q85']== 'A'
pre_f = calculate_question_score_pre(df16_112[is_f])
is_m = df16_112['PRE Q85']== 'B'
pre_m = calculate_question_score_pre(df16_112[is_m])
df2.loc["Female"] = pre_f
df2.loc["Male"] = pre_m

df2

,PRE Q1,PRE Q2,PRE Q3,PRE Q4,PRE Q5,PRE Q6,PRE Q7,PRE Q8,PRE Q9,PRE Q10,...,PRE Q21,PRE Q22,PRE Q23,PRE Q24,PRE Q25,PRE Q26,PRE Q27,PRE Q28,PRE Q29,PRE Q30
Female,0.323529,0.276471,0.458824,0.229412,0.082353,0.529412,0.452941,0.341176,0.252941,0.264706,...,0.258824,0.276471,0.170588,0.400000,0.135294,0.023529,0.458824,0.182353,0.435294,0.088235
Male,0.586957,0.369565,0.554348,0.347826,0.206522,0.836957,0.608696,0.641304,0.369565,0.619565,...,0.402174,0.434783,0.576087,0.717391,0.173913,0.130435,0.586957,0.402174,0.608696,0.152174

In [11]:
y14_q1 = pd.DataFrame(df14_111['PRE Q1'].value_counts(dropna=False))
y15_q1 = pd.DataFrame(df15_111['PRE Q1'].value_counts(dropna=False))
y14_q1_112 = pd.DataFrame(df14_112['PRE Q1'].value_counts(dropna=False))

dff1 = y14_q1.join(y15_q1, lsuffix='2014-15', rsuffix='2015-16')
dff1 = dff1.join(y14_q1_112, rsuffix='2014 112')
dff1

#correct answer = C

     PRE Q12014-15  PRE Q12015-16  PRE Q1
C              115            156      98
NaN            102              3      48
D               14             20      44
A               13             26      30
B                8              6      19
E                3              4      15

In [12]:
corr_ans = ['C', 'A' , 'C', 'E', 'B', 'B', 'B', 'B' , 'E', 'A', 'D', 'B', 'D', 'D', 'A', 'A', 'B', 'B', 'E', 'D', 
            'E', 'B', 'B', 'A', 'C', 'E', 'C', 'E', 'B', 'C']

In [13]:
df14_111.describe()

       Course     Lecture  Percent Grade  PRE Q93  POST Q96
count   255.0  255.000000     255.000000      0.0       0.0
mean    111.0    1.384314      69.474510      NaN       NaN
std       0.0    0.487389      17.289064      NaN       NaN
min     111.0    1.000000       3.000000      NaN       NaN
25%     111.0    1.000000      61.000000      NaN       NaN
50%     111.0    1.000000      71.000000      NaN       NaN
75%     111.0    2.000000      81.000000      NaN       NaN
max     111.0    2.000000     100.000000      NaN       NaN

In [14]:
column_names=["YEAR"]
for i in range(1, 31):
    column_names.append("PRE Q" + str(i))
df1 = pd.DataFrame(columns=column_names)

In [15]:
df1.loc[1] = ["2014 111"] + calculate_question_score_pre(df14_111)
df1.loc[2] = ["2014 112"] + calculate_question_score_pre(df14_112)
df1.loc[3] = ["2015 111"] + calculate_question_score_pre(df15_111)
df1.loc[4] = ["2015 112"] + calculate_question_score_pre(df15_112)
df1.loc[5] = ["2016 111"] + calculate_question_score_pre(df16_111)
df1.loc[6] = ["2016 112"] + calculate_question_score_pre(df16_112)
df1.loc[7] = ["2017 111"] + calculate_question_score_pre(df17_111)
df1.loc[8] = ["2017 112"] + calculate_question_score_pre(df17_112)
df1.loc[9] = ["2018 111"] + calculate_question_score_pre(df18_111)
df1.loc[10] = ["2018 112"] + calculate_question_score_pre(df18_112)

df1.to_excel("Pre_test_by_question.xlsx")

In [39]:
# create table of average scores by gender by year

def by_gender_by_year(df, name):
    pre = []
    for i in range (1,31):
        string = "PRE Q" + str(i)
        pre.append(string)
    post = []
    for i in range (1,31):
        string = "POST Q" + str(i)
        post.append(string)

    is_f = df['PRE Q85']== 'A'
    df_f = df[is_f]
    df_pre_f = df_f[pre]
    df_pre_f_drop = df_pre_f#.dropna(thresh=1, axis=0)
    df_post_f = df_f[post]#.dropna(thresh=1, axis=0)
    
    pre_f = df_pre_f.apply(calculate_pre_score, axis=1).mean()
    pre_f_error = df_pre_f.apply(calculate_pre_score, axis=1).sem(axis=0)
    post_f =df_post_f.apply(calculate_post_score, axis=1).mean()
    post_f_error = df_post_f.apply(calculate_post_score, axis=1).sem(axis=0)
    gain_f = (df_pre_f.apply(calculate_pre_score, axis=1) - df_post_f.apply(calculate_post_score, axis=1)).mean()
    norm_gain = (post_f-pre_f)/(30-pre_f)
    gain_f_error = (df_pre_f.apply(calculate_pre_score, axis=1) - df_post_f.apply(calculate_post_score, axis=1)).sem(axis=0)
    gain_f_error_1 = np.sqrt(pre_f_error**2 + post_f_error**2)
    
    is_m = df['PRE Q85']== 'B'
    df_m = df[is_m]
    df_pre_m = df_m[pre]#.dropna(thresh=1, axis=0)
    df_post_m = df_m[post]#.dropna(thresh=1, axis=0)
    
    pre_m = df_pre_m.apply(calculate_pre_score, axis=1).mean()
    pre_m_error = df_pre_m.apply(calculate_pre_score, axis=1).sem(axis=0)
    post_m =df_post_m.apply(calculate_post_score, axis=1).mean()
    post_m_error = df_post_m.apply(calculate_post_score, axis=1).sem(axis=0)
    gain_m_error = np.sqrt(pre_m_error**2 + post_m_error**2)
    #gain_error = (post_m-pre_m).sem(axis=0)
    #print num of female and male sizes
    
    array = [name, pre_f, pre_f_error, post_f, post_f_error, post_f-pre_f, norm_gain, gain_f_error_1, gain_f_error, pre_m, pre_m_error, post_m, post_m_error, post_m-pre_m, gain_m_error]
    return array

In [40]:
by_gender_by_year(df14_111, "2014 111")

['2014 111',
 12.294117647058824,
 0.7747455585593874,
 14.352941176470589,
 1.125749782184149,
 2.0588235294117645,
 0.11627906976744186,
 1.3665808620770143,
 0.9154070196005849,
 19.04225352112676,
 0.714448928557124,
 17.87323943661972,
 1.0716634763887725,
 -1.1690140845070403,
 1.2879828718356823]

In [41]:
# create table of average scores by gender by year
column_names=["YEAR", "Pre Score F", "Pre Score F Error", "Post Score F","Post Score F Error", "Gain F", "Norm Gain", "Gain Error sqrt","Gain Error", "Pre Score M", "Pre Score M Error", "Post Score M", "Post Score M Error", "Gain M", "Gain M Error"]
df4 = pd.DataFrame(columns=column_names)

df4.loc[1] = by_gender_by_year(df14_111, "2014 111")
df4.loc[2] = by_gender_by_year(df14_112, "2014 112")
df4.loc[3] = by_gender_by_year(df15_111, "2015 111")
df4.loc[4] = by_gender_by_year(df15_112, "2015 112")
df4.loc[5] = by_gender_by_year(df16_111, "2016 111")
df4.loc[6] = by_gender_by_year(df16_112, "2016 112")
df4.loc[7] = by_gender_by_year(df17_111, "2017 111")
df4.loc[8] = by_gender_by_year(df17_112, "2017 112")
df4.loc[9] = by_gender_by_year(df18_111, "2018 111")
df4.loc[10] = by_gender_by_year(df18_112, "2018 112")
df4

,YEAR,Pre Score F,Pre Score F Error,Post Score F,Post Score F Error,Gain F,Norm Gain,Gain Error sqrt,Gain Error,Pre Score M,Pre Score M Error,Post Score M,Post Score M Error,Gain M,Gain M Error
1,2014 111,12.294118,0.774746,14.352941,1.125750,2.058824,0.116279,1.366581,0.915407,19.042254,0.714449,17.873239,1.071663,-1.169014,1.287983
2,2014 112,8.441441,0.338781,10.072072,0.528579,1.630631,0.075637,0.627828,0.494677,12.855263,0.513572,12.105263,0.894345,-0.750000,1.031314
3,2015 111,12.174419,0.548893,13.197674,0.679949,1.023256,0.057404,0.873850,0.534955,17.000000,0.622577,16.961538,0.935257,-0.038462,1.123525
4,2015 112,8.476562,0.342051,11.523438,0.482846,3.046875,0.141561,0.591725,0.407070,12.923077,0.578877,15.824176,0.748396,2.901099,0.946148
5,2016 111,12.559140,0.532590,14.344086,0.655022,1.784946,0.102343,0.844219,0.511406,18.109375,0.514580,17.328125,0.773270,-0.781250,0.928838
6,2016 112,8.394118,0.330627,12.600000,0.452813,4.205882,0.194664,0.560673,0.408992,13.663043,0.593055,15.750000,0.868522,2.086957,1.051686
7,2017 111,13.545455,0.839199,14.200000,0.955015,0.654545,0.039779,1.271341,0.765950,18.025000,0.621675,18.450000,0.785625,0.425000,1.001841
8,2017 112,9.282209,0.349257,13.975460,0.499636,4.693252,0.226532,0.609604,0.423710,14.534091,0.636316,18.545455,0.832326,4.011364,1.047695
9,2018 111,11.956522,0.790619,12.260870,0.990503,0.304348,0.016867,1.267350,0.711445,17.053097,0.632411,14.566372,0.821918,-2.486726,1.037060
10,2018 112,9.771277,0.337360,12.627660,0.500368,2.856383,0.141204,0.603473,0.427904,14.282828,0.549740,16.434343,0.845052,2.151515,1.008130