In [2]:
import pandas as pd
from FCI_functions.FCI_functions import calculate_pre_score, calculate_post_score, calculate_question_score_post, calculate_question_score_pre

In [37]:
# import raw data from excel files with NA threshold at 25
df16_111 = pd.read_excel('rawdata/2016-17 WT1 Phys 111 ALL Data - Shared with Chelsea.xlsx').dropna(axis = 0, thresh = 25)
df16_112 = pd.read_excel('rawdata/2016-17 WT1 Phys 112 ALL Data - Shared with Chelsea.xlsx').dropna(axis = 0, thresh = 25)
df14_111 = pd.read_excel('rawdata/2014-15 WT1 Phys 111 ALL Data - Shared with Chelsea (20210212).xlsx').dropna(axis = 0, thresh = 25)
df14_112 = pd.read_excel('rawdata/2014-15 WT1 Phys 112 ALL Data - Shared with Chelsea (20210212).xlsx').dropna(axis = 0, thresh = 25)
df15_111 = pd.read_excel('rawdata/2015-16 WT1 Phys 111 ALL Data - Shared with Chelsea.xlsx').dropna(axis = 0, thresh = 25)
df15_112 = pd.read_excel('rawdata/2015-16 WT1 Phys 112 ALL Data - Shared with Chelsea.xlsx').dropna(axis = 0, thresh = 25)
df17_111 = pd.read_excel('rawdata/2017-18 WT1 Phys 111 ALL Data - Shared with David (20190612).xlsx').dropna(axis = 0, thresh = 25)
df17_112 = pd.read_excel('rawdata/2017-18 WT1 Phys 112 ALL Data - Shared with David (20190612).xlsx').dropna(axis = 0, thresh = 25)
df18_111 = pd.read_excel('rawdata/2018-19 WT1 Phys 111 ALL Data - Shared with David (20190530).xlsx').dropna(axis = 0, thresh = 25)
df18_112 = pd.read_excel('rawdata/2018-19 WT1 Phys 112 ALL Data - Shared with David (20190527).xlsx').dropna(axis = 0, thresh = 25)
df14_111.head()

,Session,Course,Lecture,Secondary,Percent Grade,Letter Grade,PRE Q1,PRE Q2,PRE Q3,PRE Q4,...,POST Q87,POST Q88,POST Q89,POST Q90,POST Q91,POST Q92,POST Q93,POST Q94,POST Q95,POST Q96
0,2014W,111,1,L02,70,B-,C,D,D,A,...,A,C,C,E,D,C,A,C,B,BLANK
2,2014W,111,1,L10,74,B,A,A,C,A,...,B,B,A,D,A,A,B,C,B,BLANK
3,2014W,111,1,L02,78,B+,C,A,C,E,...,A,A,A,D,D,A,C,E,A,BLANK
4,2014W,111,1,L09,60,C,C,A,C,E,...,B,B,E,A,C,C,A,D,A,BLANK
5,2014W,111,1,L15,58,C-,B,A,B,A,...,C,C,E,E,C,A,B,C,!!,BLANK

In [38]:
# output gain from all years
display(df14_111.apply(calculate_post_score, axis=1).mean()-df14_111.apply(calculate_pre_score, axis=1).mean())
display(df14_112.apply(calculate_post_score, axis=1).mean()-df14_112.apply(calculate_pre_score, axis=1).mean())
display(df16_111.apply(calculate_post_score, axis=1).mean()-df16_111.apply(calculate_pre_score, axis=1).mean())
display(df16_112.apply(calculate_post_score, axis=1).mean()-df16_112.apply(calculate_pre_score, axis=1).mean())
display(df15_111.apply(calculate_post_score, axis=1).mean()-df15_111.apply(calculate_pre_score, axis=1).mean())
display(df15_112.apply(calculate_post_score, axis=1).mean()-df15_112.apply(calculate_pre_score, axis=1).mean())
display(df17_111.apply(calculate_post_score, axis=1).mean()-df17_111.apply(calculate_pre_score, axis=1).mean())
display(df17_112.apply(calculate_post_score, axis=1).mean()-df17_112.apply(calculate_pre_score, axis=1).mean())
display(df18_111.apply(calculate_post_score, axis=1).mean()-df18_111.apply(calculate_pre_score, axis=1).mean())
display(df18_112.apply(calculate_post_score, axis=1).mean()-df18_112.apply(calculate_pre_score, axis=1).mean())

6.340996168582421

5.244252873563241

2.8242424242423922

11.053837342497147

1.5193798449612217

12.506561679790067

4.8455284552845725

17.321839080459775

-2.5614035087719387

8.670820353063355

In [5]:
# calculate gain of 2016 001 lecture section
is_001 = df16_112['Lecture']== 1
post = df16_112[is_001].apply(calculate_post_score, axis=1).mean()
pre = df16_112[is_001].apply(calculate_pre_score, axis=1).mean()
display(post)
display(pre)
display(post-pre)

45.147679324894504

32.91139240506326

12.236286919831244

In [22]:
# calculate pre scores of 2016 112 by gender
is_f = df16_112['PRE Q85']== 'A'
pre_f = df16_112[is_f].apply(calculate_pre_score, axis=1).mean()
is_m = df16_112['PRE Q85']== 'B'
pre_m = df16_112[is_m].apply(calculate_pre_score, axis=1).mean()
display(pre_f)
display(pre_m)

27.980392156862756

45.54347826086956

In [32]:
column_names=[]
for i in range(1, 31):
    column_names.append("PRE Q" + str(i))
df2 = pd.DataFrame(columns=column_names)

# calculate pre scores of 2016 112 by gender by question
is_f = df16_112['PRE Q85']== 'A'
pre_f = calculate_question_score_pre(df16_112[is_f])
is_m = df16_112['PRE Q85']== 'B'
pre_m = calculate_question_score_pre(df16_112[is_m])
df2.loc["Female"] = pre_f
df2.loc["Male"] = pre_m

df2

,PRE Q1,PRE Q2,PRE Q3,PRE Q4,PRE Q5,PRE Q6,PRE Q7,PRE Q8,PRE Q9,PRE Q10,...,PRE Q21,PRE Q22,PRE Q23,PRE Q24,PRE Q25,PRE Q26,PRE Q27,PRE Q28,PRE Q29,PRE Q30
Female,0.323529,0.276471,0.458824,0.229412,0.082353,0.529412,0.452941,0.341176,0.252941,0.264706,...,0.258824,0.276471,0.170588,0.400000,0.135294,0.023529,0.458824,0.182353,0.435294,0.088235
Male,0.586957,0.369565,0.554348,0.347826,0.206522,0.836957,0.608696,0.641304,0.369565,0.619565,...,0.402174,0.434783,0.576087,0.717391,0.173913,0.130435,0.586957,0.402174,0.608696,0.152174

In [7]:
y14_q1 = pd.DataFrame(df14_111['PRE Q1'].value_counts(dropna=False))
y15_q1 = pd.DataFrame(df15_111['PRE Q1'].value_counts(dropna=False))
y14_q1_112 = pd.DataFrame(df14_112['PRE Q1'].value_counts(dropna=False))

dff1 = y14_q1.join(y15_q1, lsuffix='2014-15', rsuffix='2015-16')
dff1 = dff1.join(y14_q1_112, rsuffix='2014 112')
dff1

#correct answer = C

     PRE Q12014-15  PRE Q12015-16  PRE Q1
C              115            156      98
NaN             21              3      26
D               14             20      44
A               13             26      30
B                8              6      19
E                3              4      15

In [11]:
corr_ans = ['C', 'A' , 'C', 'E', 'B', 'B', 'B', 'B' , 'E', 'A', 'D', 'B', 'D', 'D', 'A', 'A', 'B', 'B', 'E', 'D', 
            'E', 'B', 'B', 'A', 'C', 'E', 'C', 'E', 'B', 'C']

In [16]:
df14_111.describe()

       Course     Lecture  Percent Grade
count   174.0  174.000000     174.000000
mean    111.0    1.373563      70.040230
std       0.0    0.485146      15.518164
min     111.0    1.000000       5.000000
25%     111.0    1.000000      62.000000
50%     111.0    1.000000      70.500000
75%     111.0    2.000000      79.750000
max     111.0    2.000000     100.000000

In [17]:
column_names=["YEAR"]
for i in range(1, 31):
    column_names.append("PRE Q" + str(i))
df1 = pd.DataFrame(columns=column_names)

In [19]:
df1.loc[1] = ["2014 111"] + calculate_question_score_pre(df14_111)
df1.loc[2] = ["2014 112"] + calculate_question_score_pre(df14_112)
df1.loc[3] = ["2015 111"] + calculate_question_score_pre(df15_111)
df1.loc[4] = ["2015 112"] + calculate_question_score_pre(df15_112)
df1.loc[5] = ["2016 111"] + calculate_question_score_pre(df16_111)
df1.loc[6] = ["2016 112"] + calculate_question_score_pre(df16_112)
df1.loc[7] = ["2017 111"] + calculate_question_score_pre(df17_111)
df1.loc[8] = ["2017 112"] + calculate_question_score_pre(df17_112)
df1.loc[9] = ["2018 111"] + calculate_question_score_pre(df18_111)
df1.loc[10] = ["2018 112"] + calculate_question_score_pre(df18_112)

df1.to_excel("Pre_test_by_question.xlsx")