In [1]:
import pandas as pd
import numpy as np
from FCI_functions.FCI_functions import calculate_pre_score, calculate_post_score, calculate_question_score_post, calculate_question_score_pre

In [56]:
# import raw data from excel files with NA threshold at 25
df16_111 = pd.read_excel('rawdata/2016-17 WT1 Phys 111 ALL Data - Shared with Chelsea.xlsx').replace(["BLANK", "!!"], None)
df16_112 = pd.read_excel('rawdata/2016-17 WT1 Phys 112 ALL Data - Shared with Chelsea.xlsx').replace(["BLANK", "!!"], None)
df14_111 = pd.read_excel('rawdata/2014-15 WT1 Phys 111 ALL Data - Shared with Chelsea (20210212).xlsx').replace(["BLANK", "!!"], None)
df14_112 = pd.read_excel('rawdata/2014-15 WT1 Phys 112 ALL Data - Shared with Chelsea (20210212).xlsx').replace(["BLANK", "!!"], None)
df15_111 = pd.read_excel('rawdata/2015-16 WT1 Phys 111 ALL Data - Shared with Chelsea.xlsx').replace(["BLANK", "!!"], None)
df15_112 = pd.read_excel('rawdata/2015-16 WT1 Phys 112 ALL Data - Shared with Chelsea.xlsx').replace(["BLANK", "!!"], None)
df17_111 = pd.read_excel('rawdata/2017-18 WT1 Phys 111 ALL Data - Shared with David (20190612).xlsx').replace(["BLANK", "!!"], None)
df17_112 = pd.read_excel('rawdata/2017-18 WT1 Phys 112 ALL Data - Shared with David (20190612).xlsx').replace(["BLANK", "!!"], None)
df18_111 = pd.read_excel('rawdata/2018-19 WT1 Phys 111 ALL Data - Shared with David (20190530).xlsx').replace(["BLANK", "!!"], None)
df18_112 = pd.read_excel('rawdata/2018-19 WT1 Phys 112 ALL Data - Shared with David (20190527).xlsx').replace(["BLANK", "!!"], None)
df14_111.head()

,Session,Course,Lecture,Secondary,Percent Grade,Letter Grade,PRE Q1,PRE Q2,PRE Q3,PRE Q4,...,POST Q87,POST Q88,POST Q89,POST Q90,POST Q91,POST Q92,POST Q93,POST Q94,POST Q95,POST Q96
0,2014W,111,1,L02,70,B-,C,D,D,A,...,A,C,C,E,D,C,A,C,B,BLANK
1,2014W,111,1,XMT,66,C+,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014W,111,1,L10,74,B,A,A,C,A,...,B,B,A,D,A,A,B,C,B,NaN
3,2014W,111,1,L02,78,B+,C,A,C,E,...,A,A,A,D,D,A,C,E,A,NaN
4,2014W,111,1,L09,60,C,C,A,C,E,...,B,B,E,A,C,C,A,D,A,NaN

In [ ]:
# output gain from all years
display(df14_111.apply(calculate_post_score, axis=1).mean()-df14_111.apply(calculate_pre_score, axis=1).mean())
display(df14_112.apply(calculate_post_score, axis=1).mean()-df14_112.apply(calculate_pre_score, axis=1).mean())
display(df16_111.apply(calculate_post_score, axis=1).mean()-df16_111.apply(calculate_pre_score, axis=1).mean())
display(df16_112.apply(calculate_post_score, axis=1).mean()-df16_112.apply(calculate_pre_score, axis=1).mean())
display(df15_111.apply(calculate_post_score, axis=1).mean()-df15_111.apply(calculate_pre_score, axis=1).mean())
display(df15_112.apply(calculate_post_score, axis=1).mean()-df15_112.apply(calculate_pre_score, axis=1).mean())
display(df17_111.apply(calculate_post_score, axis=1).mean()-df17_111.apply(calculate_pre_score, axis=1).mean())
display(df17_112.apply(calculate_post_score, axis=1).mean()-df17_112.apply(calculate_pre_score, axis=1).mean())
display(df18_111.apply(calculate_post_score, axis=1).mean()-df18_111.apply(calculate_pre_score, axis=1).mean())
display(df18_112.apply(calculate_post_score, axis=1).mean()-df18_112.apply(calculate_pre_score, axis=1).mean())

In [ ]:
# calculate gain of 2016 001 lecture section
is_001 = df16_112['Lecture']== 1
post = df16_112[is_001].apply(calculate_post_score, axis=1).mean()
pre = df16_112[is_001].apply(calculate_pre_score, axis=1).mean()
display(post)
display(pre)
display(post-pre)

In [ ]:
# calculate pre scores of 2016 112 by gender
is_f = df16_112['PRE Q85']== 'A'
pre_f = df16_112[is_f].apply(calculate_pre_score, axis=1).mean()
is_m = df16_112['PRE Q85']== 'B'
pre_m = df16_112[is_m].apply(calculate_pre_score, axis=1).mean()
display(pre_f)
display(pre_m)

In [ ]:
column_names=[]
for i in range(1, 31):
    column_names.append("PRE Q" + str(i))
df2 = pd.DataFrame(columns=column_names)

# calculate pre scores of 2016 112 by gender by question
is_f = df16_112['PRE Q85']== 'A'
pre_f = calculate_question_score_pre(df16_112[is_f])
is_m = df16_112['PRE Q85']== 'B'
pre_m = calculate_question_score_pre(df16_112[is_m])
df2.loc["Female"] = pre_f
df2.loc["Male"] = pre_m

df2

In [ ]:
y14_q1 = pd.DataFrame(df14_111['PRE Q1'].value_counts(dropna=False))
y15_q1 = pd.DataFrame(df15_111['PRE Q1'].value_counts(dropna=False))
y14_q1_112 = pd.DataFrame(df14_112['PRE Q1'].value_counts(dropna=False))

dff1 = y14_q1.join(y15_q1, lsuffix='2014-15', rsuffix='2015-16')
dff1 = dff1.join(y14_q1_112, rsuffix='2014 112')
dff1

#correct answer = C

In [ ]:
corr_ans = ['C', 'A' , 'C', 'E', 'B', 'B', 'B', 'B' , 'E', 'A', 'D', 'B', 'D', 'D', 'A', 'A', 'B', 'B', 'E', 'D', 
            'E', 'B', 'B', 'A', 'C', 'E', 'C', 'E', 'B', 'C']

In [ ]:
df14_111.describe()

In [ ]:
column_names=["YEAR"]
for i in range(1, 31):
    column_names.append("PRE Q" + str(i))
df1 = pd.DataFrame(columns=column_names)

In [ ]:
df1.loc[1] = ["2014 111"] + calculate_question_score_pre(df14_111)
df1.loc[2] = ["2014 112"] + calculate_question_score_pre(df14_112)
df1.loc[3] = ["2015 111"] + calculate_question_score_pre(df15_111)
df1.loc[4] = ["2015 112"] + calculate_question_score_pre(df15_112)
df1.loc[5] = ["2016 111"] + calculate_question_score_pre(df16_111)
df1.loc[6] = ["2016 112"] + calculate_question_score_pre(df16_112)
df1.loc[7] = ["2017 111"] + calculate_question_score_pre(df17_111)
df1.loc[8] = ["2017 112"] + calculate_question_score_pre(df17_112)
df1.loc[9] = ["2018 111"] + calculate_question_score_pre(df18_111)
df1.loc[10] = ["2018 112"] + calculate_question_score_pre(df18_112)

df1.to_excel("Pre_test_by_question.xlsx")

In [79]:
# create table of average scores by gender by year
column_names=["YEAR", "Pre Score F", "Pre Score F Error", "Post Score F","Post Score F Error", "Gain F", "Gain Error", "Pre Score M", "Pre Score M Error", "Post Score M", "Post Score M Error", "Gain M", "Gain M Error"]
df3 = pd.DataFrame(columns=column_names)

# calculate scores of 2014 111 by gender
def by_gender_by_year(df, name):
    pre = []
    for i in range (1,31):
        string = "PRE Q" + str(i)
        pre.append(string)
    post = []
    for i in range (1,31):
        string = "POST Q" + str(i)
        post.append(string)

    is_f = df['PRE Q85']== 'A'
    df_f = df[is_f].dropna(thresh=25, axis=0)
    df_pre_f = df_f[pre]
    df_post_f = df_f[post]
    
    #df_pre = df[pre].dropna(thresh=25, axis=0)
    #df_post = df[post].dropna(thresh=25, axis=0)
    
    pre_f = df_pre_f.apply(calculate_pre_score, axis=1).mean()
    pre_f_error = df_pre_f.apply(calculate_pre_score, axis=1).sem(axis=0)
    post_f =df_post_f.apply(calculate_post_score, axis=1).mean()
    post_f_error = df_post_f.apply(calculate_post_score, axis=1).sem(axis=0)
    gain_f_error = np.sqrt(pre_f_error**2 + post_f_error**2)
    
    is_m = df['PRE Q85']== 'B'
    df_m = df[is_m].dropna(thresh=25, axis=0)
    df_pre_m = df_m[pre]
    df_post_m = df_m[post]
    
    #df_pre = df[pre].dropna(thresh=25, axis=0)
    #df_post = df[post].dropna(thresh=25, axis=0)
    pre_m = df_pre_m.apply(calculate_pre_score, axis=1).mean()
    pre_m_error = df_pre_m.apply(calculate_pre_score, axis=1).sem(axis=0)
    post_m =df_post_m.apply(calculate_post_score, axis=1).mean()
    post_m_error = df_post_m.apply(calculate_post_score, axis=1).sem(axis=0)
    gain_m_error = np.sqrt(pre_m_error**2 + post_m_error**2)
    

    array = [name, pre_f, pre_f_error, post_f, post_f_error, post_f-pre_f, gain_f_error, pre_m, pre_m_error, post_m, post_m_error, post_m-pre_m, gain_m_error]
    return array, df_pre_f, df_post_m

In [80]:
by_gender_by_year(df14_111, "2014 111")

(['2014 111',
  13.032786885245901,
  0.765001951179609,
  14.360655737704919,
  1.1356211527923974,
  1.3278688524590176,
  1.3692565091969227,
  19.1125,
  0.6806534811432355,
  17.5375,
  1.022986405925739,
  -1.5749999999999993,
  1.2287352636354445],
     PRE Q1 PRE Q2 PRE Q3 PRE Q4 PRE Q5 PRE Q6 PRE Q7 PRE Q8 PRE Q9 PRE Q10  \
 0        C      D      D      A      D      B      B      B      B       E
 2        A      A      C      A      D      A      B      B      B       A
 3        C      A      C      E      D      B      B      B      B       A
 7        C      D      A      E      E      D      A      E      B       D
 17       C      D      C      E      D      B      B      B      E       A
 ..     ...    ...    ...    ...    ...    ...    ...    ...    ...     ...
 236      C      A      C      A      B      B      B      B      C       A
 245      B      B      B      A      D      A      B      B      E       C
 246      C      A      C      E      D      B      B      B      E       A
 248      D      B      C      E      D      B      B      B      C       A
 251      B      C      C      A      B      B      B      B      C       D

      ... PRE Q21 PRE Q22 PRE Q23 PRE Q24 PRE Q25 PRE Q26 PRE Q27 PRE Q28  \
 0    ...       C       B       C       A       E       A       A       E
 2    ...       E       A       D       C       D       B       C       D
 3    ...       C       B       B       A       D       B       A       E
 7    ...       C       B       D       C       D       A       C       D
 17   ...       C       A       C       A       C       C       C       E
 ..   ...     ...     ...     ...     ...     ...     ...     ...     ...
 236  ...       A       B       D       C       C       E       C       D
 245  ...       D       B       C       A       D       B       A       D
 246  ...       E       B       B       A       C       B       C       E
 248  ...       D       D       B       A       D       B       C       E
 251  ...       C       D       B       E       E       A       C       D

     PRE Q29 PRE Q30
 0         B       B
 2         B       E
 3         B       E
 7         D       C
 17        B       E
 ..      ...     ...
 236       B       E
 245       D       E
 246       B       C
 248       B       E
 251       B       E

 [61 rows x 30 columns],
     POST Q1 POST Q2 POST Q3 POST Q4 POST Q5 POST Q6 POST Q7 POST Q8 POST Q9  \
 4         D       A       C       E       D       B       B       A       B
 5         B       D       A       E       B       B       B       B       E
 12        C       D       C       E       B       B       B       B       E
 13        C       A       C       A       D       B       B       B       C
 16        C       D       C       A       C       B       B       B       E
 ..      ...     ...     ...     ...     ...     ...     ...     ...     ...
 221       C       A       C       E       B       B       B       B       C
 222       C       B       C       A       D       B       B       B       E
 231       C       A       A       A       E       B       B       B       E
 237     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 247     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

     POST Q10  ... POST Q21 POST Q22 POST Q23 POST Q24 POST Q25 POST Q26  \
 4          D  ...        C        B        B        A        D        B
 5          A  ...        C        A        B        A        D        B
 12         A  ...        E        B        B        A        C        E
 13         A  ...        E        B        B        A        C        E
 16         A  ...        E        B        B        A        C        D
 ..       ...  ...      ...      ...      ...      ...      ...      ...
 221        A  ...        D        B        B        A        C        E
 222        A  ...        E        B        C        A        C        D
 231        A  ...        E        B        B        A        D        B
 237      NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN
 247      NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN

     POST Q27 POST Q28 POST Q29 POST Q30
 4          C        E        D        C
 5          B        E        B        E
 12         C        E        B        E
 13         C        E        C        C
 16         C        E        B        C
 ..       ...      ...      ...      ...
 221        C        E        B        C
 222        C        C        B        C
 231        C        E        B        E
 237      NaN      NaN      NaN      NaN
 247      NaN      NaN      NaN      NaN

 [80 rows x 30 columns])

In [74]:
df3.loc[1] = by_gender_by_year(df14_111, "2014 111")
df3.loc[2] = by_gender_by_year(df14_112, "2014 112")
df3.loc[3] = by_gender_by_year(df15_111, "2015 111")
df3.loc[4] = by_gender_by_year(df15_112, "2015 112")
df3.loc[5] = by_gender_by_year(df16_111, "2016 111")
df3.loc[6] = by_gender_by_year(df16_112, "2016 112")
df3.loc[7] = by_gender_by_year(df17_111, "2017 111")
df3.loc[8] = by_gender_by_year(df17_112, "2017 112")
df3.loc[9] = by_gender_by_year(df18_111, "2018 111")
df3.loc[10] = by_gender_by_year(df18_112, "2018 112")
df3

,YEAR,Pre Score F,Pre Score F Error,Post Score F,Post Score F Error,Gain F,Gain Error,Pre Score M,Pre Score M Error,Post Score M,Post Score M Error,Gain M,Gain M Error
1,2014 111,13.032787,0.765002,14.360656,1.135621,1.327869,1.369257,19.112500,0.680653,17.537500,1.022986,-1.575000,1.228735
2,2014 112,8.537815,0.333692,9.932773,0.541108,1.394958,0.635726,12.678571,0.493550,11.452381,0.871952,-1.226190,1.001944
3,2015 111,12.434783,0.542795,13.152174,0.670506,0.717391,0.862673,16.598291,0.596440,16.581197,0.883857,-0.017094,1.066276
4,2015 112,8.430657,0.326942,11.671533,0.460448,3.240876,0.564715,12.755102,0.543318,15.959184,0.684338,3.204082,0.873793
5,2016 111,12.929204,0.480287,14.566372,0.629535,1.637168,0.791827,17.620000,0.489045,17.033333,0.699979,-0.586667,0.853894
6,2016 112,8.489247,0.316020,12.258065,0.452113,3.768817,0.551611,13.584158,0.559750,15.801980,0.841736,2.217822,1.010861
7,2017 111,13.775862,0.828647,14.310345,0.943410,0.534483,1.255659,18.032000,0.602568,18.424000,0.771280,0.392000,0.978755
8,2017 112,9.479769,0.344194,14.104046,0.488685,4.624277,0.597731,14.516484,0.619654,18.384615,0.815864,3.868132,1.024502
9,2018 111,12.759259,0.772037,13.055556,0.920463,0.296296,1.201371,16.774194,0.612596,14.629032,0.761008,-2.145161,0.976937
10,2018 112,9.788732,0.311497,12.436620,0.474162,2.647887,0.567327,14.129630,0.523437,16.314815,0.802347,2.185185,0.957991