In [1]:
import pandas as pd
from FCI_functions.FCI_functions import calculate_pre_score, calculate_post_score, calculate_question_score_post, calculate_question_score_pre

In [2]:
# import raw data from excel files
df16_111 = pd.read_excel('rawdata/2016-17 WT1 Phys 111 ALL Data - Shared with Chelsea.xlsx').dropna(axis = 0, thresh = 25)
df16_112 = pd.read_excel('rawdata/2016-17 WT1 Phys 112 ALL Data - Shared with Chelsea.xlsx').dropna(axis = 0, thresh = 25)
df14_111 = pd.read_excel('rawdata/2014-15 WT1 Phys 111 ALL Data - Shared with Chelsea (20210212).xlsx').dropna(axis = 0, thresh = 25)
df14_112 = pd.read_excel('rawdata/2014-15 WT1 Phys 112 ALL Data - Shared with Chelsea (20210212).xlsx').dropna(axis = 0, thresh = 25)
df15_111 = pd.read_excel('rawdata/2015-16 WT1 Phys 111 ALL Data - Shared with Chelsea.xlsx').dropna(axis = 0, thresh = 25)
df15_112 = pd.read_excel('rawdata/2015-16 WT1 Phys 112 ALL Data - Shared with Chelsea.xlsx').dropna(axis = 0, thresh = 25)
df17_111 = pd.read_excel('rawdata/2017-18 WT1 Phys 111 ALL Data - Shared with David (20190612).xlsx').dropna(axis = 0, thresh = 25)
df17_112 = pd.read_excel('rawdata/2017-18 WT1 Phys 112 ALL Data - Shared with David (20190612).xlsx').dropna(axis = 0, thresh = 25)
df18_111 = pd.read_excel('rawdata/2018-19 WT1 Phys 111 ALL Data - Shared with David (20190530).xlsx').dropna(axis = 0, thresh = 25)
df18_112 = pd.read_excel('rawdata/2018-19 WT1 Phys 112 ALL Data - Shared with David (20190527).xlsx').dropna(axis = 0, thresh = 25)

In [3]:
# output gain from all years
display(df14_111.apply(calculate_post_score, axis=1).mean()-df14_111.apply(calculate_pre_score, axis=1).mean())
display(df14_112.apply(calculate_post_score, axis=1).mean()-df14_111.apply(calculate_pre_score, axis=1).mean())
display(df16_111.apply(calculate_post_score, axis=1).mean()-df16_111.apply(calculate_pre_score, axis=1).mean())
display(df16_112.apply(calculate_post_score, axis=1).mean()-df16_112.apply(calculate_pre_score, axis=1).mean())
display(df15_111.apply(calculate_post_score, axis=1).mean()-df15_111.apply(calculate_pre_score, axis=1).mean())
display(df15_112.apply(calculate_post_score, axis=1).mean()-df15_112.apply(calculate_pre_score, axis=1).mean())
display(df17_111.apply(calculate_post_score, axis=1).mean()-df17_111.apply(calculate_pre_score, axis=1).mean())
display(df17_112.apply(calculate_post_score, axis=1).mean()-df17_112.apply(calculate_pre_score, axis=1).mean())
display(df18_111.apply(calculate_post_score, axis=1).mean()-df18_111.apply(calculate_pre_score, axis=1).mean())
display(df18_112.apply(calculate_post_score, axis=1).mean()-df18_112.apply(calculate_pre_score, axis=1).mean())

6.340996168582421

-11.954022988505699

2.8242424242423922

11.053837342497147

1.5193798449612217

12.506561679790067

4.8455284552845725

17.321839080459775

-2.5614035087719387

8.670820353063355

In [4]:
# calculate gain of 2016 001 lecture section
is_001 = df16_112['Lecture']== 1
post = df16_112[is_001].apply(calculate_post_score, axis=1).mean()
pre = df16_112[is_001].apply(calculate_pre_score, axis=1).mean()
display(post)
display(pre)
display(post-pre)

45.147679324894504

32.91139240506326

12.236286919831244

In [5]:
is_002 = df16_112['Lecture']== 2
post = df16_112[is_002].apply(calculate_post_score, axis=1).mean()
pre = df16_112[is_002].apply(calculate_pre_score, axis=1).mean()
display(post)
display(pre)
display(post-pre)

44.27184466019418

33.786407766990294

10.48543689320389

In [6]:
y14_q1 = pd.DataFrame(df14_111['PRE Q1'].value_counts(dropna=False))
y15_q1 = pd.DataFrame(df15_111['PRE Q1'].value_counts(dropna=False))
y14_q1_112 = pd.DataFrame(df14_112['PRE Q1'].value_counts(dropna=False))

dff1 = y14_q1.join(y15_q1, lsuffix='2014-15', rsuffix='2015-16')
dff1 = dff1.join(y14_q1_112, rsuffix='2014 112')
dff1

#correct answer = C

     PRE Q12014-15  PRE Q12015-16  PRE Q1
C              115            156      98
NaN             21              3      26
D               14             20      44
A               13             26      30
B                8              6      19
E                3              4      15

In [7]:
is_003 = df16_112['Lecture']== 3
post = df16_112[is_003].apply(calculate_post_score, axis=1).mean()
pre = df16_112[is_003].apply(calculate_pre_score, axis=1).mean()
display(post)
display(pre)
display(post-pre)

46.0

39.222222222222214

6.777777777777786

In [8]:
is_001 = df16_111['Lecture']== 1
post = df16_111[is_001].apply(calculate_post_score, axis=1).mean()
pre = df16_111[is_001].apply(calculate_pre_score, axis=1).mean()
display(post)
display(pre)
display(post-pre)

51.92982456140351

49.84405458089669

2.085769980506818

In [9]:
is_002 = df16_111['Lecture']== 2
post = df16_111[is_002].apply(calculate_post_score, axis=1).mean()
pre = df16_111[is_002].apply(calculate_pre_score, axis=1).mean()
display(post)
display(pre)
display(post-pre)

51.826923076923094

47.78846153846155

4.038461538461547

In [10]:
corr_ans = ['C', 'A' , 'C', 'E', 'B', 'B', 'B', 'B' , 'E', 'A', 'D', 'B', 'D', 'D', 'A', 'A', 'B', 'B', 'E', 'D', 
            'E', 'B', 'B', 'A', 'C', 'E', 'C', 'E', 'B', 'C']

In [12]:
for i in range(len(stu1_df14_111_pre)):
    if corr_ans[i]==stu1_df14_111_pre[i]:
        stu1_df14_111_pre_score += 1  
stu1_df14_111_pre_score

NameError: name 'stu1_df14_111_pre' is not defined

In [13]:
sample_arg = df14_111.iloc[56]
def calculate_score(student):
    student_pre = [] 
    score = 0
    for i in range(1,31):
        string = "PRE Q"+ str(i)
        if string in student:
            if student[string]==corr_ans[i-1]:
                score+=1
            
    return (score*100/30)

In [14]:
calculate_score(sample_arg)

30.0

In [15]:
df14_111.apply(calculate_score, axis=1)

0      33.333333
2      43.333333
3      60.000000
4      66.666667
5      56.666667
         ...
247    53.333333
248    36.666667
250    33.333333
251    40.000000
252     0.000000
Length: 174, dtype: float64

In [16]:
df14_111.describe()

       Course     Lecture  Percent Grade
count   174.0  174.000000     174.000000
mean    111.0    1.373563      70.040230
std       0.0    0.485146      15.518164
min     111.0    1.000000       5.000000
25%     111.0    1.000000      62.000000
50%     111.0    1.000000      70.500000
75%     111.0    2.000000      79.750000
max     111.0    2.000000     100.000000

In [20]:
column_names=["YEAR"]
for i in range(1, 31):
    column_names.append("PRE Q" + str(i))
df1 = pd.DataFrame(columns=column_names)

In [21]:
#df1.append(df14_111.apply(calculate_pre_score, axis=1) , ignore_index=True)

In [31]:
df1.loc[1] = ["2014 111"] + calculate_question_score_pre(df14_111)
df1.loc[2] = ["2014 112"] + calculate_question_score_pre(df14_112)
df1.loc[3] = ["2015 111"] + calculate_question_score_pre(df15_111)
df1.loc[4] = ["2015 112"] + calculate_question_score_pre(df15_112)
df1.loc[5] = ["2016 111"] + calculate_question_score_pre(df16_111)
df1.loc[6] = ["2016 112"] + calculate_question_score_pre(df16_112)
df1.loc[7] = ["2017 111"] + calculate_question_score_pre(df17_111)
df1.loc[8] = ["2017 112"] + calculate_question_score_pre(df17_112)
df1.loc[9] = ["2018 111"] + calculate_question_score_pre(df18_111)
df1.loc[10] = ["2018 112"] + calculate_question_score_pre(df18_112)

df1

,YEAR,PRE Q1,PRE Q2,PRE Q3,PRE Q4,PRE Q5,PRE Q6,PRE Q7,PRE Q8,PRE Q9,...,PRE Q21,PRE Q22,PRE Q23,PRE Q24,PRE Q25,PRE Q26,PRE Q27,PRE Q28,PRE Q29,PRE Q30
1,2014 111,0.660920,0.477011,0.603448,0.367816,0.298851,0.712644,0.620690,0.603448,0.448276,...,0.419540,0.465517,0.488506,0.637931,0.321839,0.183908,0.586207,0.431034,0.632184,0.235632
2,2014 112,0.422414,0.254310,0.418103,0.228448,0.073276,0.538793,0.435345,0.288793,0.271552,...,0.362069,0.331897,0.297414,0.556034,0.120690,0.043103,0.478448,0.198276,0.469828,0.086207
3,2015 111,0.725581,0.460465,0.674419,0.279070,0.274419,0.776744,0.693023,0.632558,0.441860,...,0.427907,0.460465,0.483721,0.711628,0.265116,0.162791,0.627907,0.395349,0.674419,0.232558
4,2015 112,0.480315,0.240157,0.484252,0.204724,0.129921,0.610236,0.547244,0.413386,0.279528,...,0.350394,0.299213,0.295276,0.559055,0.141732,0.062992,0.484252,0.232283,0.476378,0.149606
5,2016 111,0.636364,0.414545,0.669091,0.341818,0.309091,0.800000,0.738182,0.625455,0.447273,...,0.429091,0.443636,0.447273,0.647273,0.272727,0.152727,0.581818,0.436364,0.680000,0.290909
6,2016 112,0.415808,0.302405,0.484536,0.274914,0.123711,0.621993,0.505155,0.446735,0.285223,...,0.309278,0.329897,0.309278,0.501718,0.161512,0.054983,0.508591,0.261168,0.484536,0.109966
7,2017 111,0.658537,0.478049,0.609756,0.390244,0.302439,0.746341,0.687805,0.585366,0.419512,...,0.424390,0.487805,0.497561,0.643902,0.312195,0.224390,0.624390,0.531707,0.663415,0.370732
8,2017 112,0.517241,0.265517,0.413793,0.251724,0.155172,0.582759,0.520690,0.458621,0.375862,...,0.296552,0.286207,0.296552,0.531034,0.131034,0.065517,0.455172,0.241379,0.520690,0.179310
9,2018 111,0.578947,0.373684,0.573684,0.394737,0.284211,0.731579,0.710526,0.626316,0.484211,...,0.426316,0.478947,0.531579,0.689474,0.310526,0.215789,0.663158,0.494737,0.689474,0.289474
10,2018 112,0.501558,0.277259,0.439252,0.308411,0.161994,0.679128,0.535826,0.433022,0.317757,...,0.364486,0.292835,0.308411,0.545171,0.155763,0.077882,0.588785,0.308411,0.560748,0.140187