In [1]:
import pandas as pd
import numpy as np
from FCI_functions.FCI_functions import calculate_pre_score, calculate_post_score, calculate_question_score_post, calculate_question_score_pre

In [88]:
# import raw data from excel files with NA threshold at 25
df16_111 = pd.read_excel('rawdata/2016-17 WT1 Phys 111 ALL Data - Shared with Chelsea.xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df16_112 = pd.read_excel('rawdata/2016-17 WT1 Phys 112 ALL Data - Shared with Chelsea.xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df14_111 = pd.read_excel('rawdata/2014-15 WT1 Phys 111 ALL Data - Shared with Chelsea (20210212).xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df14_112 = pd.read_excel('rawdata/2014-15 WT1 Phys 112 ALL Data - Shared with Chelsea (20210212).xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df15_111 = pd.read_excel('rawdata/2015-16 WT1 Phys 111 ALL Data - Shared with Chelsea.xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df15_112 = pd.read_excel('rawdata/2015-16 WT1 Phys 112 ALL Data - Shared with Chelsea.xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df17_111 = pd.read_excel('rawdata/2017-18 WT1 Phys 111 ALL Data - Shared with David (20190612).xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df17_112 = pd.read_excel('rawdata/2017-18 WT1 Phys 112 ALL Data - Shared with David (20190612).xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df18_111 = pd.read_excel('rawdata/2018-19 WT1 Phys 111 ALL Data - Shared with David (20190530).xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df18_112 = pd.read_excel('rawdata/2018-19 WT1 Phys 112 ALL Data - Shared with David (20190527).xlsx').replace(["BLANK", "!!", "MULT"], np.nan)
df16_111.head()

,Session,Course,Lecture,Secondary,Percent Grade,Letter Grade,PRE Q1,PRE Q2,PRE Q3,PRE Q4,...,POST Q87,POST Q88,POST Q89,POST Q90,POST Q91,POST Q92,POST Q93,POST Q94,POST Q95,POST Q96
0,2016W,111,1,L03,71,B-,C,A,B,A,...,B,B,D,B,E,C,A,NaN,NaN,NaN
1,2016W,111,1,L12,78,B+,C,D,B,E,...,C,B,C,B,B,C,A,A,B,NaN
2,2016W,111,1,L04,88,A,C,D,C,A,...,E,E,A,E,E,C,A,C,B,NaN
3,2016W,111,1,L02,66,C+,NaN,NaN,NaN,NaN,...,D,D,C,B,A,A,C,D,E,NaN
4,2016W,111,1,L02,74,B,D,B,A,A,...,D,E,C,B,E,B,A,C,C,NaN

In [3]:
# output gain from all years
display(df14_111.apply(calculate_post_score, axis=1).mean()-df14_111.apply(calculate_pre_score, axis=1).mean())
display(df14_112.apply(calculate_post_score, axis=1).mean()-df14_112.apply(calculate_pre_score, axis=1).mean())
display(df16_111.apply(calculate_post_score, axis=1).mean()-df16_111.apply(calculate_pre_score, axis=1).mean())
display(df16_112.apply(calculate_post_score, axis=1).mean()-df16_112.apply(calculate_pre_score, axis=1).mean())
display(df15_111.apply(calculate_post_score, axis=1).mean()-df15_111.apply(calculate_pre_score, axis=1).mean())
display(df15_112.apply(calculate_post_score, axis=1).mean()-df15_112.apply(calculate_pre_score, axis=1).mean())
display(df17_111.apply(calculate_post_score, axis=1).mean()-df17_111.apply(calculate_pre_score, axis=1).mean())
display(df17_112.apply(calculate_post_score, axis=1).mean()-df17_112.apply(calculate_pre_score, axis=1).mean())
display(df18_111.apply(calculate_post_score, axis=1).mean()-df18_111.apply(calculate_pre_score, axis=1).mean())
display(df18_112.apply(calculate_post_score, axis=1).mean()-df18_112.apply(calculate_pre_score, axis=1).mean())

1.2980392156862752

1.4370078740157481

0.8472727272727258

3.3161512027491415

0.45581395348837184

3.4157706093189972

0.9867549668874176

3.874035989717224

-0.7604166666666661

2.601246105919003

In [4]:
# calculate gain of 2016 001 lecture section
is_001 = df16_112['Lecture']== 1
post = df16_112[is_001].apply(calculate_post_score, axis=1).mean()
pre = df16_112[is_001].apply(calculate_pre_score, axis=1).mean()
display(post)
display(pre)
display(post-pre)

13.544303797468354

9.873417721518987

3.670886075949367

In [5]:
# calculate pre scores of 2016 112 by gender
is_f = df16_112['PRE Q85']== 'A'
pre_f = df16_112[is_f].apply(calculate_pre_score, axis=1).mean()
is_m = df16_112['PRE Q85']== 'B'
pre_m = df16_112[is_m].apply(calculate_pre_score, axis=1).mean()
display(pre_f)
display(pre_m)

8.394117647058824

13.66304347826087

In [6]:
column_names=[]
for i in range(1, 31):
    column_names.append("PRE Q" + str(i))
df2 = pd.DataFrame(columns=column_names)

# calculate pre scores of 2016 112 by gender by question
is_f = df16_112['PRE Q85']== 'A'
pre_f = calculate_question_score_pre(df16_112[is_f])
is_m = df16_112['PRE Q85']== 'B'
pre_m = calculate_question_score_pre(df16_112[is_m])
df2.loc["Female"] = pre_f
df2.loc["Male"] = pre_m

df2

,PRE Q1,PRE Q2,PRE Q3,PRE Q4,PRE Q5,PRE Q6,PRE Q7,PRE Q8,PRE Q9,PRE Q10,...,PRE Q21,PRE Q22,PRE Q23,PRE Q24,PRE Q25,PRE Q26,PRE Q27,PRE Q28,PRE Q29,PRE Q30
Female,0.323529,0.276471,0.458824,0.229412,0.082353,0.529412,0.452941,0.341176,0.252941,0.264706,...,0.258824,0.276471,0.170588,0.400000,0.135294,0.023529,0.458824,0.182353,0.435294,0.088235
Male,0.586957,0.369565,0.554348,0.347826,0.206522,0.836957,0.608696,0.641304,0.369565,0.619565,...,0.402174,0.434783,0.576087,0.717391,0.173913,0.130435,0.586957,0.402174,0.608696,0.152174

In [7]:
y14_q1 = pd.DataFrame(df14_111['PRE Q1'].value_counts(dropna=False))
y15_q1 = pd.DataFrame(df15_111['PRE Q1'].value_counts(dropna=False))
y14_q1_112 = pd.DataFrame(df14_112['PRE Q1'].value_counts(dropna=False))

dff1 = y14_q1.join(y15_q1, lsuffix='2014-15', rsuffix='2015-16')
dff1 = dff1.join(y14_q1_112, rsuffix='2014 112')
dff1

#correct answer = C

     PRE Q12014-15  PRE Q12015-16  PRE Q1
C              115            156      98
NaN            102              3      48
D               14             20      44
A               13             26      30
B                8              6      19
E                3              4      15

In [8]:
corr_ans = ['C', 'A' , 'C', 'E', 'B', 'B', 'B', 'B' , 'E', 'A', 'D', 'B', 'D', 'D', 'A', 'A', 'B', 'B', 'E', 'D', 
            'E', 'B', 'B', 'A', 'C', 'E', 'C', 'E', 'B', 'C']

In [9]:
df14_111.describe()

       Course     Lecture  Percent Grade
count   255.0  255.000000     255.000000
mean    111.0    1.384314      69.474510
std       0.0    0.487389      17.289064
min     111.0    1.000000       3.000000
25%     111.0    1.000000      61.000000
50%     111.0    1.000000      71.000000
75%     111.0    2.000000      81.000000
max     111.0    2.000000     100.000000

In [10]:
column_names=["YEAR"]
for i in range(1, 31):
    column_names.append("PRE Q" + str(i))
df1 = pd.DataFrame(columns=column_names)

In [11]:
df1.loc[1] = ["2014 111"] + calculate_question_score_pre(df14_111)
df1.loc[2] = ["2014 112"] + calculate_question_score_pre(df14_112)
df1.loc[3] = ["2015 111"] + calculate_question_score_pre(df15_111)
df1.loc[4] = ["2015 112"] + calculate_question_score_pre(df15_112)
df1.loc[5] = ["2016 111"] + calculate_question_score_pre(df16_111)
df1.loc[6] = ["2016 112"] + calculate_question_score_pre(df16_112)
df1.loc[7] = ["2017 111"] + calculate_question_score_pre(df17_111)
df1.loc[8] = ["2017 112"] + calculate_question_score_pre(df17_112)
df1.loc[9] = ["2018 111"] + calculate_question_score_pre(df18_111)
df1.loc[10] = ["2018 112"] + calculate_question_score_pre(df18_112)

df1.to_excel("Pre_test_by_question.xlsx")

In [105]:
# create table of average scores by gender by year

def by_gender_by_year(df, name):
    pre = []
    for i in range (1,31):
        string = "PRE Q" + str(i)
        pre.append(string)
    post = []
    for i in range (1,31):
        string = "POST Q" + str(i)
        post.append(string)

    is_f = df['PRE Q85']== 'A'
    df_f = df[is_f]
    df_pre_f = df_f[pre]
    df_pre_f_drop = df_pre_f.dropna(thresh=1, axis=0)
    df_post_f = df_f[post].dropna(thresh=1, axis=0)
    
    pre_f = df_pre_f.apply(calculate_pre_score, axis=1).mean()
    pre_f_error = df_pre_f.apply(calculate_pre_score, axis=1).sem(axis=0)
    post_f =df_post_f.apply(calculate_post_score, axis=1).mean()
    post_f_error = df_post_f.apply(calculate_post_score, axis=1).sem(axis=0)
    gain_f_error = np.sqrt(pre_f_error**2 + post_f_error**2)
    
    is_m = df['PRE Q85']== 'B'
    df_m = df[is_m]
    df_pre_m = df_m[pre].dropna(thresh=1, axis=0)
    df_post_m = df_m[post].dropna(thresh=1, axis=0)
    
    pre_m = df_pre_m.apply(calculate_pre_score, axis=1).mean()
    pre_m_error = df_pre_m.apply(calculate_pre_score, axis=1).sem(axis=0)
    post_m =df_post_m.apply(calculate_post_score, axis=1).mean()
    post_m_error = df_post_m.apply(calculate_post_score, axis=1).sem(axis=0)
    gain_m_error = np.sqrt(pre_m_error**2 + post_m_error**2)
    #gain_error = (post_m-pre_m).sem(axis=0)
    #print num of female and male sizes
    
    array = [name, pre_f, pre_f_error, post_f, post_f_error, post_f-pre_f, gain_f_error, pre_m, pre_m_error, post_m, post_m_error, post_m-pre_m, gain_m_error]
    return array

In [103]:
by_gender_by_year(df16_112, "2016 112")

,PRE Q1,PRE Q2,PRE Q3,PRE Q4,PRE Q5,PRE Q6,PRE Q7,PRE Q8,PRE Q9,PRE Q10,...,PRE Q21,PRE Q22,PRE Q23,PRE Q24,PRE Q25,PRE Q26,PRE Q27,PRE Q28,PRE Q29,PRE Q30
0,B,D,C,A,C,B,D,B,C,C,...,D,D,C,C,D,A,C,B,B,E
4,A,C,A,A,B,B,D,B,C,A,...,E,A,D,C,A,A,C,D,B,E
5,B,C,A,B,D,B,E,A,B,C,...,B,B,C,A,D,E,A,D,A,B
7,C,B,E,A,C,B,B,E,A,A,...,E,B,B,A,D,A,C,D,A,E
8,C,B,D,A,E,B,B,B,C,A,...,C,A,B,A,B,A,B,C,B,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,C,B,A,E,C,A,B,B,B,B,...,D,D,C,A,D,A,C,E,D,E
287,A,D,C,A,E,B,C,B,C,A,...,E,B,D,A,D,A,C,D,D,E
288,C,A,C,E,E,B,B,B,E,A,...,D,B,B,A,C,E,C,E,B,E
289,C,A,C,A,B,B,B,B,E,A,...,E,B,B,A,C,D,C,D,B,C
290,C,D,B,A,C,B,E,C,C,C,...,E,B,E,A,D,C,A,C,D,E

In [106]:
# create table of average scores by gender by year
column_names=["YEAR", "Pre Score F", "Pre Score F Error", "Post Score F","Post Score F Error", "Gain F", "Gain Error", "Pre Score M", "Pre Score M Error", "Post Score M", "Post Score M Error", "Gain M", "Gain M Error"]
df4 = pd.DataFrame(columns=column_names)

df4.loc[1] = by_gender_by_year(df14_111, "2014 111")
df4.loc[2] = by_gender_by_year(df14_112, "2014 112")
df4.loc[3] = by_gender_by_year(df15_111, "2015 111")
df4.loc[4] = by_gender_by_year(df15_112, "2015 112")
df4.loc[5] = by_gender_by_year(df16_111, "2016 111")
df4.loc[6] = by_gender_by_year(df16_112, "2016 112")
df4.loc[7] = by_gender_by_year(df17_111, "2017 111")
df4.loc[8] = by_gender_by_year(df17_112, "2017 112")
df4.loc[9] = by_gender_by_year(df18_111, "2018 111")
df4.loc[10] = by_gender_by_year(df18_112, "2018 112")
df4

,YEAR,Pre Score F,Pre Score F Error,Post Score F,Post Score F Error,Gain F,Gain Error,Pre Score M,Pre Score M Error,Post Score M,Post Score M Error,Gain M,Gain M Error
1,2014 111,12.294118,0.774746,16.266667,0.961585,3.972549,1.234859,19.042254,0.714449,20.467742,0.799166,1.425488,1.071962
2,2014 112,8.441441,0.338781,11.180000,0.468477,2.738559,0.578138,12.855263,0.513572,14.838710,0.735226,1.983447,0.896835
3,2015 111,12.174419,0.548893,14.187500,0.597488,2.013081,0.811342,17.000000,0.622577,19.600000,0.767277,2.600000,0.988087
4,2015 112,8.476562,0.342051,12.090164,0.447335,3.613601,0.563123,12.923077,0.578877,16.363636,0.705476,3.440559,0.912576
5,2016 111,12.559140,0.532590,14.988764,0.599092,2.429624,0.801600,18.109375,0.514580,19.120690,0.656207,1.011315,0.833907
6,2016 112,8.394118,0.330627,13.141104,0.423311,4.746987,0.537128,13.663043,0.593055,17.457831,0.751197,3.794788,0.957085
7,2017 111,13.545455,0.839199,15.019231,0.883266,1.473776,1.218365,18.025000,0.621675,19.945946,0.671258,1.920946,0.914914
8,2017 112,9.282209,0.349257,14.696774,0.455325,5.414566,0.573848,14.701149,0.621093,20.400000,0.600264,5.698851,0.863755
9,2018 111,11.956522,0.790619,12.818182,0.952505,0.861660,1.237879,17.053097,0.632411,17.145833,0.686968,0.092736,0.933739
10,2018 112,9.771277,0.337360,14.047337,0.437388,4.276061,0.552377,14.282828,0.549740,18.701149,0.658081,4.418321,0.857487