In [3]:
import pandas as pd
import numpy as np
from FCI_functions.FCI_functions import calculate_pre_score, calculate_post_score, calculate_question_score_post, calculate_question_score_pre

In [4]:
# import raw data from excel files with NA threshold at 25
df16_111 = pd.read_excel('rawdata/2016-17 WT1 Phys 111 ALL Data - Shared with Chelsea.xlsx').replace(["BLANK", "!!"], None)
df16_112 = pd.read_excel('rawdata/2016-17 WT1 Phys 112 ALL Data - Shared with Chelsea.xlsx').replace(["BLANK", "!!"], None)
df14_111 = pd.read_excel('rawdata/2014-15 WT1 Phys 111 ALL Data - Shared with Chelsea (20210212).xlsx').replace(["BLANK", "!!"], None)
df14_112 = pd.read_excel('rawdata/2014-15 WT1 Phys 112 ALL Data - Shared with Chelsea (20210212).xlsx').replace(["BLANK", "!!"], None)
df15_111 = pd.read_excel('rawdata/2015-16 WT1 Phys 111 ALL Data - Shared with Chelsea.xlsx').replace(["BLANK", "!!"], None)
df15_112 = pd.read_excel('rawdata/2015-16 WT1 Phys 112 ALL Data - Shared with Chelsea.xlsx').replace(["BLANK", "!!"], None)
df17_111 = pd.read_excel('rawdata/2017-18 WT1 Phys 111 ALL Data - Shared with David (20190612).xlsx').replace(["BLANK", "!!"], None)
df17_112 = pd.read_excel('rawdata/2017-18 WT1 Phys 112 ALL Data - Shared with David (20190612).xlsx').replace(["BLANK", "!!"], None)
df18_111 = pd.read_excel('rawdata/2018-19 WT1 Phys 111 ALL Data - Shared with David (20190530).xlsx').replace(["BLANK", "!!"], None)
df18_112 = pd.read_excel('rawdata/2018-19 WT1 Phys 112 ALL Data - Shared with David (20190527).xlsx').replace(["BLANK", "!!"], None)
df14_111.head()

,Session,Course,Lecture,Secondary,Percent Grade,Letter Grade,PRE Q1,PRE Q2,PRE Q3,PRE Q4,...,POST Q87,POST Q88,POST Q89,POST Q90,POST Q91,POST Q92,POST Q93,POST Q94,POST Q95,POST Q96
0,2014W,111,1,L02,70,B-,C,D,D,A,...,A,C,C,E,D,C,A,C,B,BLANK
1,2014W,111,1,XMT,66,C+,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014W,111,1,L10,74,B,A,A,C,A,...,B,B,A,D,A,A,B,C,B,NaN
3,2014W,111,1,L02,78,B+,C,A,C,E,...,A,A,A,D,D,A,C,E,A,NaN
4,2014W,111,1,L09,60,C,C,A,C,E,...,B,B,E,A,C,C,A,D,A,NaN

In [5]:
# output gain from all years
display(df14_111.apply(calculate_post_score, axis=1).mean()-df14_111.apply(calculate_pre_score, axis=1).mean())
display(df14_112.apply(calculate_post_score, axis=1).mean()-df14_112.apply(calculate_pre_score, axis=1).mean())
display(df16_111.apply(calculate_post_score, axis=1).mean()-df16_111.apply(calculate_pre_score, axis=1).mean())
display(df16_112.apply(calculate_post_score, axis=1).mean()-df16_112.apply(calculate_pre_score, axis=1).mean())
display(df15_111.apply(calculate_post_score, axis=1).mean()-df15_111.apply(calculate_pre_score, axis=1).mean())
display(df15_112.apply(calculate_post_score, axis=1).mean()-df15_112.apply(calculate_pre_score, axis=1).mean())
display(df17_111.apply(calculate_post_score, axis=1).mean()-df17_111.apply(calculate_pre_score, axis=1).mean())
display(df17_112.apply(calculate_post_score, axis=1).mean()-df17_112.apply(calculate_pre_score, axis=1).mean())
display(df18_111.apply(calculate_post_score, axis=1).mean()-df18_111.apply(calculate_pre_score, axis=1).mean())
display(df18_112.apply(calculate_post_score, axis=1).mean()-df18_112.apply(calculate_pre_score, axis=1).mean())

1.2980392156862752

1.4291338582677167

0.7963636363636368

3.3230240549828185

0.49767441860465134

3.4229390681003586

1.0264900662251648

3.830334190231363

-0.6666666666666661

2.492211838006231

In [6]:
# calculate gain of 2016 001 lecture section
is_001 = df16_112['Lecture']== 1
post = df16_112[is_001].apply(calculate_post_score, axis=1).mean()
pre = df16_112[is_001].apply(calculate_pre_score, axis=1).mean()
display(post)
display(pre)
display(post-pre)

13.594936708860759

9.91139240506329

3.6835443037974684

In [7]:
# calculate pre scores of 2016 112 by gender
is_f = df16_112['PRE Q85']== 'A'
pre_f = df16_112[is_f].apply(calculate_pre_score, axis=1).mean()
is_m = df16_112['PRE Q85']== 'B'
pre_m = df16_112[is_m].apply(calculate_pre_score, axis=1).mean()
display(pre_f)
display(pre_m)

8.489247311827956

13.584158415841584

In [8]:
column_names=[]
for i in range(1, 31):
    column_names.append("PRE Q" + str(i))
df2 = pd.DataFrame(columns=column_names)

# calculate pre scores of 2016 112 by gender by question
is_f = df16_112['PRE Q85']== 'A'
pre_f = calculate_question_score_pre(df16_112[is_f])
is_m = df16_112['PRE Q85']== 'B'
pre_m = calculate_question_score_pre(df16_112[is_m])
df2.loc["Female"] = pre_f
df2.loc["Male"] = pre_m

df2

,PRE Q1,PRE Q2,PRE Q3,PRE Q4,PRE Q5,PRE Q6,PRE Q7,PRE Q8,PRE Q9,PRE Q10,...,PRE Q21,PRE Q22,PRE Q23,PRE Q24,PRE Q25,PRE Q26,PRE Q27,PRE Q28,PRE Q29,PRE Q30
Female,0.327957,0.279570,0.456989,0.236559,0.080645,0.537634,0.462366,0.354839,0.247312,0.274194,...,0.263441,0.284946,0.177419,0.397849,0.139785,0.021505,0.462366,0.198925,0.462366,0.080645
Male,0.603960,0.366337,0.534653,0.346535,0.207921,0.792079,0.594059,0.633663,0.356436,0.603960,...,0.405941,0.425743,0.544554,0.702970,0.207921,0.118812,0.594059,0.415842,0.584158,0.168317

In [9]:
y14_q1 = pd.DataFrame(df14_111['PRE Q1'].value_counts(dropna=False))
y15_q1 = pd.DataFrame(df15_111['PRE Q1'].value_counts(dropna=False))
y14_q1_112 = pd.DataFrame(df14_112['PRE Q1'].value_counts(dropna=False))

dff1 = y14_q1.join(y15_q1, lsuffix='2014-15', rsuffix='2015-16')
dff1 = dff1.join(y14_q1_112, rsuffix='2014 112')
dff1

#correct answer = C

     PRE Q12014-15  PRE Q12015-16  PRE Q1
C              115            156      98
NaN            102              3      48
D               14             20      44
A               13             26      30
B                8              6      19
E                3              4      15

In [10]:
corr_ans = ['C', 'A' , 'C', 'E', 'B', 'B', 'B', 'B' , 'E', 'A', 'D', 'B', 'D', 'D', 'A', 'A', 'B', 'B', 'E', 'D', 
            'E', 'B', 'B', 'A', 'C', 'E', 'C', 'E', 'B', 'C']

In [11]:
df14_111.describe()

       Course     Lecture  Percent Grade
count   255.0  255.000000     255.000000
mean    111.0    1.384314      69.474510
std       0.0    0.487389      17.289064
min     111.0    1.000000       3.000000
25%     111.0    1.000000      61.000000
50%     111.0    1.000000      71.000000
75%     111.0    2.000000      81.000000
max     111.0    2.000000     100.000000

In [12]:
column_names=["YEAR"]
for i in range(1, 31):
    column_names.append("PRE Q" + str(i))
df1 = pd.DataFrame(columns=column_names)

In [13]:
df1.loc[1] = ["2014 111"] + calculate_question_score_pre(df14_111)
df1.loc[2] = ["2014 112"] + calculate_question_score_pre(df14_112)
df1.loc[3] = ["2015 111"] + calculate_question_score_pre(df15_111)
df1.loc[4] = ["2015 112"] + calculate_question_score_pre(df15_112)
df1.loc[5] = ["2016 111"] + calculate_question_score_pre(df16_111)
df1.loc[6] = ["2016 112"] + calculate_question_score_pre(df16_112)
df1.loc[7] = ["2017 111"] + calculate_question_score_pre(df17_111)
df1.loc[8] = ["2017 112"] + calculate_question_score_pre(df17_112)
df1.loc[9] = ["2018 111"] + calculate_question_score_pre(df18_111)
df1.loc[10] = ["2018 112"] + calculate_question_score_pre(df18_112)

df1.to_excel("Pre_test_by_question.xlsx")

In [27]:
# create table of average scores by gender by year
column_names=["YEAR", "Pre Score F", "Pre Score F Error", "Post Score F","Post Score F Error", "Gain F", "Gain Error", "Pre Score M", "Pre Score M Error", "Post Score M", "Post Score M Error", "Gain M", "Gain M Error"]
df3 = pd.DataFrame(columns=column_names)

def by_gender_by_year(df, name):
    pre = []
    for i in range (1,31):
        string = "PRE Q" + str(i)
        pre.append(string)
    post = []
    for i in range (1,31):
        string = "POST Q" + str(i)
        post.append(string)

    is_f = df['PRE Q85']== 'A'
    df_f = df[is_f]
    df_pre_f = df_f[pre].dropna(thresh=25, axis=0)
    df_post_f = df_f[post].dropna(thresh=25, axis=0)
    
    pre_f = df_pre_f.apply(calculate_pre_score, axis=1).mean()
    pre_f_error = df_pre_f.apply(calculate_pre_score, axis=1).sem(axis=0)
    post_f =df_post_f.apply(calculate_post_score, axis=1).mean()
    post_f_error = df_post_f.apply(calculate_post_score, axis=1).sem(axis=0)
    gain_f_error = np.sqrt(pre_f_error**2 + post_f_error**2)
    
    is_m = df['PRE Q85']== 'B'
    df_m = df[is_m]
    df_pre_m = df_m[pre].dropna(thresh=25, axis=0)
    df_post_m = df_m[post].dropna(thresh=25, axis=0)
    
    pre_m = df_pre_m.apply(calculate_pre_score, axis=1).mean()
    pre_m_error = df_pre_m.apply(calculate_pre_score, axis=1).sem(axis=0)
    post_m =df_post_m.apply(calculate_post_score, axis=1).mean()
    post_m_error = df_post_m.apply(calculate_post_score, axis=1).sem(axis=0)
    gain_m_error = np.sqrt(pre_m_error**2 + post_m_error**2)
    

    array = [name, pre_f, pre_f_error, post_f, post_f_error, post_f-pre_f, gain_f_error, pre_m, pre_m_error, post_m, post_m_error, post_m-pre_m, gain_m_error]
    return array

In [26]:
df3.loc[1] = by_gender_by_year(df14_111, "2014 111")
df3.loc[2] = by_gender_by_year(df14_112, "2014 112")
df3.loc[3] = by_gender_by_year(df15_111, "2015 111")
df3.loc[4] = by_gender_by_year(df15_112, "2015 112")
df3.loc[5] = by_gender_by_year(df16_111, "2016 111")
df3.loc[6] = by_gender_by_year(df16_112, "2016 112")
df3.loc[7] = by_gender_by_year(df17_111, "2017 111")
df3.loc[8] = by_gender_by_year(df17_112, "2017 112")
df3.loc[9] = by_gender_by_year(df18_111, "2018 111")
df3.loc[10] = by_gender_by_year(df18_112, "2018 112")
df3

,YEAR,Pre Score F,Pre Score F Error,Post Score F,Post Score F Error,Gain F,Gain Error,Pre Score M,Pre Score M Error,Post Score M,Post Score M Error,Gain M,Gain M Error
1,2014 111,13.032787,0.765002,17.176471,0.940048,4.143684,1.211990,19.112500,0.680653,20.333333,0.757364,1.220833,1.018278
2,2014 112,8.537815,0.333692,11.257143,0.482862,2.719328,0.586946,12.678571,0.493550,14.800000,0.707175,2.121429,0.862373
3,2015 111,12.434783,0.542795,14.235294,0.586173,1.800512,0.798890,16.598291,0.596440,19.400000,0.720129,2.801709,0.935055
4,2015 112,8.430657,0.326942,12.206107,0.426337,3.775450,0.537266,12.755102,0.543318,16.463158,0.640515,3.708056,0.839914
5,2016 111,12.929204,0.480287,15.528302,0.555332,2.599098,0.734213,17.620000,0.489045,18.649635,0.605062,1.029635,0.777988
6,2016 112,8.489247,0.316020,13.179191,0.407181,4.689943,0.515427,13.584158,0.559750,17.538462,0.731684,3.954303,0.921240
7,2017 111,13.775862,0.828647,15.090909,0.878962,1.315047,1.207986,18.032000,0.602568,20.026087,0.649527,1.994087,0.885988
8,2017 112,9.479769,0.344194,14.787879,0.448269,5.308110,0.565168,14.516484,0.619654,20.156627,0.604490,5.640143,0.865667
9,2018 111,12.759259,0.772037,13.557692,0.883660,0.798433,1.173412,16.774194,0.612596,16.796296,0.651271,0.022103,0.894107
10,2018 112,9.788732,0.311497,14.090426,0.405176,4.301693,0.511075,14.129630,0.523437,18.547368,0.626544,4.417739,0.816421